<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('【项目月度指标】列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <p>年份：</p>
                                <input type="text" name="particularYear" class="form-control time-input" data-type="year"  maxlength="5"/>
                            </li>
                            <li>
                                <p>月份：</p>
                                <input type="text" name="particularMonth" class="form-control time-input" data-type="month" data-format="MM"  maxlength="2" />
                            </li>
                            <li>
                                <p>项目：</p>
                                <select class="form-control" name="proId"  id="proId" >
                                    <option value="">全部</option>
                                </select>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" >
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" >
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-primary single disabled" style="background-color: mediumpurple; border-color: mediumpurple" onclick="fuzhi()" >
                    <i class="fa fa-edit"></i> 复制
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('ruoyi:target:edit')}]];
        var removeFlag = [[${@permission.hasPermi('ruoyi:target:remove')}]];
        var prefix = ctx + "shareproject/monthlytarget";
        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                clickToSelect: true,
                modalName: "【项目月度指标】",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'id', 
                    title : '机构名称',
                    visible: false
                },
                {
                    title: "序号",
                    field:"",
                    formatter: function (value, row, index) {
                        return $.table.serialNumber(index);
                    }
                },
                {
                    field : 'particularYear', 
                    title : '年份'
                },
                {
                    field : 'particularMonth', 
                    title : '月份'
                },
                {
                    field : 'proName', 
                    title : '项目'
                },
                {
                    field : 'transferType',
                    title : '账龄'
                },
                {
                    field : 'commissionBatch',
                    title : '委案批次'
                },
                {
                    field : 'allocationOfSeats',
                    title : '月初分配席位'
                },
                {
                    field : 'numberOfCommission', 
                    title : '月初委案件数(件)'
                },
                {
                    field : 'commissionAmount', 
                    title : '月初委案金额(元)',
                    formatter:function (value, row, index) {
                        if(value =='' || null == value)return'';
                        return  parseFloat(value).toFixed(2) ;
                    }
                },
                {
                    field : 'amountReceived', 
                    title : '目标回款金额(元)',
                    formatter:function (value, row, index) {
                        if(value =='' || null == value)return'';
                        return  parseFloat(value).toFixed(2) ;
                    }
                },
                {
                    field : 'amountCreated', 
                    title : '目标创佣金额(元)',
                    formatter:function (value, row, index) {
                        if(value =='' || null == value)return'';
                        return  parseFloat(value).toFixed(2) ;
                    }
                },
                {
                    field : 'inflowrateOfLastmonth', 
                    title : '上月流入率(%)'
                },
                {
                    field : 'inflowrateOfMonth', 
                    title : '本月目标流入率(%)'
                },
                {
                    field : 'targetRanking', 
                    title : '目标排名'
                },
                {
                    field : 'updateTime',
                    title : '操作时间'
                },
                {
                    field : 'updateBy',
                    title : '操作人'
                },
                {
                    field : 'remark',
                    title : '备注'
                }
                ]
            };
            $.table.init(options);
        });
        $(document).ready(function(){
            $.post(
                ctx + "shareproject/projectinformation/listxl",
                function(data) {
                    if(data){
                        for (var i = 0; i < data.length; i++) {
                            var ob = data[i];
                            var opt = "<option value='"+ob.id+"'>"+ob.names+"</option>";
                            $("#proId").append(opt);
                        }
                    }
                }
            );
        });
        function fuzhi() {
            var taskIdRows = $.table.selectColumns("id");
            if (taskIdRows.length == 0) {
                $.modal.alertWarning("请至少选择一条记录");
                return;
            }
            $.modal.open("添加【项目月度指标】",prefix+"/copyone/"+taskIdRows[0]);
        }
    </script>
</body>
</html>