<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysLoginStatusMapper">
    
    <resultMap type="com.ruoyi.system.domain.SysLoginStatus" id="SysLoginStatusResult">
        <result property="id"    column="id"    />
        <result property="orgId"    column="org_id"    />
        <result property="orgName"    column="org_name"    />
        <result property="loginName"    column="login_name"    />
        <result property="userName"    column="user_name"    />
        <result property="startTime"    column="start_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="onlineLen"    column="online_len"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="ipAddr"    column="ip_addr"    />
        <result property="loginNum"    column="loginNum"    />
        <result property="logoutNum"    column="logout_num"    />
        <result property="sessionId"    column="session_id"    />
        <result property="hostAddr"    column="host_addr"    />
        <result property="intervalTime"    column="interval_time"    />
        <result property="censusDate"    column="censusDate"    />
        <result property="lastStartTime"    column="lastStartTime"    />
        <result property="sque"    column="sque"    />
    </resultMap>

    <sql id="selectSysLoginStatusVo">
        select id, org_id, org_name, login_name, user_name, start_time, end_time, online_len, status, create_by, create_time, update_by, update_time, ip_addr, logout_num, session_id, host_addr, interval_time from sys_login_status
    </sql>

    <!--<select id="selectSysLoginStatusList" parameterType="SysLoginStatus" resultMap="SysLoginStatusResult">
        SELECT (@a :=@a + 1)as sque,t.censusDate,t.login_name,t.user_name,t.org_name,t.start_time,t.end_time,t.loginNum,t.online_len,t.status
        from(
            select
                DATE_FORMAT(create_time,'%Y-%m-%d')as censusDate,
                login_name,
                max(user_name) as user_name,
                max(org_name) as org_name,
                min(start_time) as start_time,
                max(end_time) as end_time,
                count(1) as loginNum,
                sum(CONVERT(online_len,DECIMAL(20,2))) as online_len,
                max(status) as status
            from sys_login_status
            WHERE org_id = #{orgId}
            group by DATE_FORMAT(create_time,'%Y-%m-%d'),login_name
            ORDER BY censusDate desc
        )t,(SELECT @a := 0) t1
        where 1=1
        <if test="userName != null and userName != ''">
            AND t.user_name like concat('%', #{userName}, '%')
        </if>
        <if test="status != null and status != ''">
            AND t.status = #{status}
        </if>
        <if test="startCensusDate != null">
            AND t.censusDate <![CDATA[>=]]> DATE_FORMAT(#{startCensusDate},'%Y-%m-%d')
        </if>
        <if test="endCensusDate != null">
            AND t.censusDate <![CDATA[<=]]> DATE_FORMAT(#{endCensusDate},'%Y-%m-%d')
        </if>
    </select>-->

    <select id="selectSysLoginStatusList" parameterType="SysLoginStatus" resultMap="SysLoginStatusResult">
        SELECT (@a :=@a + 1)as sque,tt.censusDate,tt.login_name,tt.user_name,tt.org_name,tt.start_time,tt.end_time,tt.loginNum,tt.online_len,tt.status,tt.logout_num,tt.interval_time,tt.ip_addr,tt.lastStartTime
        from(
            select
                DATE_FORMAT(t.create_time,'%Y-%m-%d')as censusDate,
                t.login_name,
                max(t.user_name) as user_name,
                max(t.org_name) as org_name,
                min(t.start_time) as start_time,
                max(t.end_time) as end_time,
                count(1) as loginNum,
                sum(IFNULL(t.online_len,0)) as online_len,
                max(t.status) as status,
                max(t.logout_num) as logout_num,
                sum(t.interval_time) as interval_time,
                max(t.start_time) as lastStartTime,
                (select a.ip_addr from sys_login_status a WHERE t.org_id = a.org_id and t.login_name = a.login_name ORDER BY a.create_time desc limit 1) as ip_addr
            from sys_login_status t
            WHERE t.org_id = #{orgId}
            group by DATE_FORMAT(t.create_time,'%Y-%m-%d'),t.login_name
            ORDER BY censusDate desc
        )tt,(SELECT @a := 0) t1
        where 1=1
        <if test="userName != null and userName != ''">
            AND tt.user_name like concat('%', #{userName}, '%')
        </if>
        <if test="status != null and status != ''">
            AND tt.status = #{status}
        </if>
        <if test="startCensusDate != null">
            AND tt.censusDate <![CDATA[>=]]> DATE_FORMAT(#{startCensusDate},'%Y-%m-%d')
        </if>
        <if test="endCensusDate != null">
            AND tt.censusDate <![CDATA[<=]]> DATE_FORMAT(#{endCensusDate},'%Y-%m-%d')
        </if>
    </select>

     <select id="selIpByLoginName" parameterType="String" resultMap="SysLoginStatusResult">
         select ip_addr from sys_login_status  WHERE login_name = #{loginName} ORDER BY create_time desc limit 1
     </select>

    <select id="selectSysLoginStatusListTask" parameterType="SysLoginStatus" resultMap="SysLoginStatusResult">
        <include refid="selectSysLoginStatusVo"/>
        WHERE 1=1
        <if test="loginName != null and loginName != ''">
            AND login_name = #{loginName}
        </if>
        <if test="startCensusDate != null">
            AND  date_format(create_time,'%Y-%m-%d') = date_format(#{startCensusDate},'%Y-%m-%d')
        </if>
        order by start_time
    </select>

    <select id="selectSysLoginStatusListTaskOne" parameterType="SysLoginStatus" resultMap="SysLoginStatusResult">
        select
        count(1) as loginNum,
        sum(interval_time) as interval_time from sys_login_status
        WHERE 1=1
        <if test="loginName != null and loginName != ''">
            AND login_name = #{loginName}
        </if>
        <if test="startCensusDate != null">
            AND  date_format(end_time,'%Y-%m-%d %H:%i:%s') <![CDATA[>=]]> date_format(#{startCensusDate},'%Y-%m-%d %H:%i:%s')
        </if>
        <if test="endCensusDate != null">
            AND  date_format(end_time,'%Y-%m-%d %H:%i:%s') <![CDATA[<=]]> date_format(#{endCensusDate},'%Y-%m-%d %H:%i:%s')
        </if>
    </select>
    
    <select id="selectSysLoginStatusById" parameterType="String" resultMap="SysLoginStatusResult">
        <include refid="selectSysLoginStatusVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSysLoginStatus" parameterType="SysLoginStatus" useGeneratedKeys="true" keyProperty="id">
        insert into sys_login_status
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">id,</if>
            <if test="orgId != null  and orgId != ''">org_id,</if>
            <if test="orgName != null  and orgName != ''">org_name,</if>
            <if test="loginName != null  and loginName != ''">login_name,</if>
            <if test="userName != null  and userName != ''">user_name,</if>
            <if test="startTime != null ">start_time,</if>
            <if test="endTime != null ">end_time,</if>
            <if test="onlineLen != null  and onlineLen != ''">online_len,</if>
            <if test="status != null  and status != ''">status,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="ipAddr != null and ipAddr != ''">ip_addr,</if>
            <if test="sessionId != null and sessionId != ''">session_id,</if>
            <if test="logoutNum != null ">logout_num,</if>
            <if test="hostAddr != null ">host_addr,</if>
            <if test="intervalTime != null and intervalTime != ''">interval_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">#{id},</if>
            <if test="orgId != null  and orgId != ''">#{orgId},</if>
            <if test="orgName != null  and orgName != ''">#{orgName},</if>
            <if test="loginName != null  and loginName != ''">#{loginName},</if>
            <if test="userName != null  and userName != ''">#{userName},</if>
            <if test="startTime != null ">#{startTime},</if>
            <if test="endTime != null ">#{endTime},</if>
            <if test="onlineLen != null  and onlineLen != ''">#{onlineLen},</if>
            <if test="status != null  and status != ''">#{status},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="ipAddr != null and ipAddr != ''">#{ipAddr},</if>
            <if test="sessionId != null and sessionId != ''">#{sessionId},</if>
            <if test="logoutNum != null ">#{logoutNum},</if>
            <if test="hostAddr != null ">#{hostAddr},</if>
            <if test="intervalTime != null and intervalTime != ''">#{intervalTime},</if>
         </trim>
    </insert>

    <update id="updateSysLoginStatus" parameterType="SysLoginStatus">
        update sys_login_status
        <trim prefix="SET" suffixOverrides=",">
            <if test="endTime != null ">end_time = #{endTime},</if>
            <if test="logoutNum != null ">logout_num = #{logoutNum},</if>
            <if test="onlineLen != null  and onlineLen != ''">online_len = #{onlineLen},</if>
            <if test="status != null  and status != ''">status = #{status},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <select id="selectSysLoginStatus" resultMap="SysLoginStatusResult">
        <include refid="selectSysLoginStatusVo"/>
        where org_id = #{orgId} and login_name = #{loginName} and DATE_FORMAT(start_time,'%Y-%m-%d') = DATE_FORMAT(now(),'%Y-%m-%d')
        order by create_time desc
        limit 1
    </select>

    <select id="selectMaxLogoutCount" resultType="java.lang.Integer">
        select max(logout_num) as logout_num
        from sys_login_status
        where org_id = #{orgId} and login_name = #{loginName}
        and DATE_FORMAT(start_time,'%Y-%m-%d') = DATE_FORMAT(now(),'%Y-%m-%d')
    </select>

    <select id="selectNotLogoutStatus" parameterType="java.lang.String" resultMap="SysLoginStatusResult">
        <include refid="selectSysLoginStatusVo"/>
        where end_time is null and host_addr = #{hostAddr}
    </select>

</mapper>