<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('radio表格页')" />
</head>
<body class="gray-bg">
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="user-form" th:object="${tLcTask}">
					<input type="hidden" id="deptId" name="deptId">
					<input type="hidden" id="parentId" name="parentId">
					<div class="select-list">
						<ul>
							<input name="caseNo" id="caseNo" th:field="*{caseNo}" class="form-control" type="hidden">
							<input name="orgId" id="orgId"  th:field="*{orgId}" class="form-control" type="hidden">
							<input name="customName" id="customName" th:field="*{customName}" class="form-control" type="hidden">
							<input name="taskStatus" id="taskStatus" th:field="*{taskStatus}" class="form-control" type="hidden">
							<input name="callCodeHistoryListStr" id="callCodeHistoryListStr" th:value="${callCodeHistoryListStr}" class="form-control" type="hidden">
							<input name="freeSQL" id="freeSQL" th:field="*{freeSQL}" class="form-control" type="hidden">

							<li>
								选择话术：<select name="speechcraftIdAndSceneDefId" id="speechcraftId">
								<option value="">所有</option>
							</select>
							</li>
							<li>
								选择线路：<select name="callLineId" id="callLineId">
								<option value="">所有</option>
							</select>
							</li>
						</ul>
					</div>
				</form>
			</div>
		</div>

	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var prefix = ctx + "collect/task";
        var callConfigPrefix = ctx + "call/config";

        $(function () {
			initCallLine();
			initSpeechCraft();
		})

		function initSpeechCraft() {
			var orgId = $("#orgId").val();
			$.post(
					callConfigPrefix + "/initSpeechCraftByOrgId",
					{orgId:orgId},
					function(data) {
						// alert(JSON.stringify(data));
						if (data.code == 0) {//请求成功
							for (var i = 0; i < data.rows.length; i++) {
								var opt = "<option value='"+data.rows[i].robotDefId+"," + data.rows[i].sceneDefId + ","+data.rows[i].robotName+"'>"+data.rows[i].robotName+"</option>";
								$("#speechcraftId").append(opt);
							}
						}
					}
			);
		}

		function submitHandler() {
			var speechcraftId = $("#speechcraftId").val();
			if (speechcraftId == null || speechcraftId == '') {
       			$.modal.alertWarning("请选择话术");
       			return;
       		}
			var callLineId = $("#callLineId").val();
			if (callLineId == null || callLineId == '') {
				$.modal.alertWarning("请选择线路");
				return;
			}
			window.$.modal.loading("数据加载中，请稍后...");
			$.post(
					prefix + "/allDataSendRobot",
					{
						caseNo: $("#caseNo").val(),
						customName: $("#customName").val(),
						taskStatus: $("#taskStatus").val(),
						orgId: $("#orgId").val(),
						callCodeHistoryListStr: $("#callCodeHistoryListStr").val(),
						freeSQL:$("#freeSQL").val(),
						speechcraftIdAndSceneDefId:speechcraftId,
						callLineId:callLineId
					},
					function(data) {
						window.$.modal.closeLoading();
						window.parent.$.table.refresh();
						window.parent.resetSelectAll();
						$.modal.alertSuccess(data.data.split(",")[0] + "条数据推送成功," + data.data.split(",")[1] + "条数据未推送");
						// $.modal.close();
					}
			)
		}

		function initCallLine() {
			$.post(
					callConfigPrefix + "/initCallLine",
					function(data) {
						// alert(JSON.stringify(data));
						// console.log(data);
						if (data.code == 0) {//请求成功
							for (var i = 0; i < data.rows.length; i++) {
								var opt = "<option value='"+data.rows[i].userPhoneId+"'>"+data.rows[i].phone+"</option>";
								$("#callLineId").append(opt);
							}
						}
					}
			);
		}
    </script>
</body>
</html>