<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.inforeporting.mapper.TLcInforeportingReductionMapper">
    <resultMap type="com.ruoyi.inforeporting.domain.TLcInforeportingReduction" id="TLcInforeportingReductionResult">
        <result property="xh"    column="xh"    />
        <result property="id"    column="id"    />
        <result property="orgId"    column="org_id"    />
        <result property="orgName"    column="org_name"    />
        <result property="caseNo"    column="case_no"    />
        <result property="importBatchNo"    column="import_batch_no"    />
        <result property="customName"    column="custom_name"    />
        <result property="productName"    column="product_name"    />
        <result property="deductionAmount"    column="deduction_amount"    />
        <result property="overdueDays"    column="overdue_days"    />
        <result property="reductionTypeCode"    column="reduction_type_code"    />
        <result property="reductionTypeName"    column="reduction_type_name"    />
        <result property="certificateNo"    column="certificate_no"    />
        <result property="arrearsTotal"    column="arrears_total"    />
        <result property="area"    column="area"    />
        <result property="remarks"    column="remarks"    />
        <result property="transferType"    column="transfer_type"    />
        <result property="dzhxrq"    column="dzhxrq"    />
        <result property="reductionAfterAmount"    column="reduction_after_amount"    />
        <result property="repaymentRatio"    column="repayment_ratio"    />
        <result property="telephone"    column="telephone"    />
        <result property="relationship"    column="relationship"    />
        <result property="expirationDate"    column="expiration_date"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>
    <resultMap type="com.ruoyi.inforeporting.domain.TLcInforeportingReductionXing" id="TLcInforeportingReductionXingResult">
        <result property="xh"    column="xh"    />
        <result property="id"    column="id"    />
        <result property="orgId"    column="org_id"    />
        <result property="orgName"    column="org_name"    />
        <result property="caseNo"    column="case_no"    />
        <result property="importBatchNo"    column="import_batch_no"    />
        <result property="customName"    column="custom_name"    />
        <result property="productName"    column="product_name"    />
        <result property="deductionAmount"    column="deduction_amount"    />
        <result property="overdueDays"    column="overdue_days"    />
        <result property="reductionTypeCode"    column="reduction_type_code"    />
        <result property="reductionTypeName"    column="reduction_type_name"    />
        <result property="certificateNo"    column="certificate_no"    />
        <result property="arrearsTotal"    column="arrears_total"    />
        <result property="area"    column="area"    />
        <result property="remarks"    column="remarks"    />
        <result property="transferType"    column="transfer_type"    />
        <result property="dzhxrq"    column="dzhxrq"    />
        <result property="reductionAfterAmount"    column="reduction_after_amount"    />
        <result property="repaymentRatio"    column="repayment_ratio"    />
        <result property="telephone"    column="telephone"    />
        <result property="relationship"    column="relationship"    />
        <result property="expirationDate"    column="expiration_date"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>
    <resultMap type="com.ruoyi.inforeporting.domain.TLcInforeportingTemplate" id="TLcInforeportingTemplateResult">
        <result property="id"    column="id"    />
        <result property="types"    column="types"    />
        <result property="arrearsTotal"    column="arrears_total"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>


    <resultMap id="TLcTaskResult" type="com.ruoyi.task.domain.TLcTask">
        <result property="id" column="id" jdbcType="BIGINT"/>
        <result property="certificateNo" column="certificate_no" jdbcType="VARCHAR"/>
        <result property="caseNo" column="case_no" jdbcType="VARCHAR"/>
        <result property="certificateType" column="certificate_type" jdbcType="INTEGER"/>
        <result property="customCode" column="custom_code" jdbcType="VARCHAR"/>
        <result property="customName" column="custom_name" jdbcType="VARCHAR"/>
        <result property="productName" column="product_name" jdbcType="VARCHAR"/>
        <result property="arrearsTotal" column="arrears_total" jdbcType="DECIMAL"/>
        <result property="taskStatus" column="task_status" jdbcType="INTEGER"/>
        <result property="overdueDays" column="overdue_days" jdbcType="BIGINT"/>
        <result property="overdueAging" column="overdue_aging" jdbcType="VARCHAR"/>
        <result property="ownerId" column="owner_id" jdbcType="INTEGER"/>
        <result property="ownerName" column="owner_name" jdbcType="VARCHAR"/>
        <result property="orgId" column="org_id" jdbcType="VARCHAR"/>
        <result property="closeDate" column="close_date" jdbcType="TIMESTAMP"/>
        <result property="oldOwnerId" column="old_owner_id" jdbcType="BIGINT"/>
        <result property="oldOwnerName" column="old_owner_name" jdbcType="VARCHAR"/>
        <result property="taskType" column="task_type" jdbcType="INTEGER"/>
        <result property="allotType" column="allot_type" jdbcType="INTEGER"/>
        <result property="robotTaskId" column="robot_task_id" jdbcType="BIGINT"/>
        <result property="robotCallStrategyId" column="robot_call_strategy_id" jdbcType="BIGINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="modifyTime" column="modify_time" jdbcType="TIMESTAMP"/>
        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
        <result property="modifyBy" column="modify_by" jdbcType="BIGINT"/>
        <result property="orgName" column="org_name" jdbcType="VARCHAR"/>
        <result property="transferType" column="transfer_type" jdbcType="VARCHAR"/>
        <result property="enterCollDate" column="enter_coll_date" jdbcType="DATE"/>
        <result property="closeCaseYhje" column="close_case_yhje" jdbcType="DECIMAL"/>
        <result property="recentlyAllotDate" column="recently_allot_date" jdbcType="TIMESTAMP"/>
        <result property="recentlyFollowUpDate" column="recently_follow_up_date" jdbcType="TIMESTAMP"/>
        <result property="hitRule" column="hit_rule" jdbcType="VARCHAR"/>
        <result property="hitRuleDesc" column="hit_rule_desc" jdbcType="VARCHAR"/>
        <result property="distributionStrategy" column="distribution_strategy" jdbcType="VARCHAR"/>
        <result property="importBatchNo" column="import_batch_no" jdbcType="VARCHAR"/>
        <result property="actionCode" column="action_code" jdbcType="VARCHAR"/>
        <result property="actionCodeValue" column="action_code_value" jdbcType="VARCHAR"/>
        <result property="callSign" column="call_sign" jdbcType="VARCHAR"/>
        <result property="callSignValue" column="call_sign_value" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="dqyhje" column="dqyhje" jdbcType="DECIMAL"/>
        <result property="ljyhje" column="ljyhje" jdbcType="DECIMAL"/>
        <result property="score" column="score" jdbcType="INTEGER"/>
        <result property="sendRobotBatchNo" column="send_robot_batch_no" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="base">
        org_id,
        org_name,
        case_no,
        import_batch_no,
        custom_name,
        product_name,
        deduction_amount,
        overdue_days,
        reduction_type_code,
        reduction_type_name,
        certificate_no,
        arrears_total,
        area,
        remarks,
        transfer_type,
        dzhxrq,
        reduction_after_amount,
        repayment_ratio,
        telephone,
        relationship,
        expiration_date,
        create_by,
        create_time,
        update_by,
        update_time
    </sql>
    <insert id="insertTLcInforeportingReduction" parameterType="com.ruoyi.inforeporting.domain.TLcInforeportingReduction" useGeneratedKeys="true" keyProperty="id">
       INSERT INTO t_lc_inforeporting_reduction
       (
        <include refid="base"/>
        )
        VALUES
        (
        #{orgId},
        #{orgName},
        #{caseNo},
        #{importBatchNo},
        #{customName},
        #{productName},
        #{deductionAmount},
        #{overdueDays},
        #{reductionTypeCode},
        #{reductionTypeName},
        #{certificateNo},
        #{arrearsTotal},
        #{area},
        #{remarks},
        #{transferType},
        #{dzhxrq},
        #{reductionAfterAmount},
        #{repaymentRatio},
        #{telephone},
        #{relationship},
        #{expirationDate},
        #{createBy},
        now(),
        #{updateBy},
        now()
        )
    </insert>

    <sql id="selectTLcInforeportingReductionVo">
        SELECT
        id,
        <include refid="base"/>
        FROM
        t_lc_inforeporting_reduction
    </sql>

    <sql id="selectTLcInforeportingReductionVoXH">
        SELECT
        (@i:=@i+1)xh,
        id,
        <include refid="base"/>
        FROM
        t_lc_inforeporting_reduction  s,(select @i:=0)t
    </sql>

    <sql id="wheresql">
        <where>
            del_flag=0
            <if test="createBy != null and createBy != ''">
                AND create_by=#{createBy}
            </if>
            <if test="orgId != null and orgId != ''">
                AND org_id=#{orgId}
            </if>
            <if test="caseNo != null and caseNo != ''">
                AND case_no like concat('%', #{caseNo}, '%')
            </if>
            <if test="customName != null and customName != ''">
                AND custom_name like concat('%', #{customName}, '%')
            </if>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                and date_format(create_time,'%Y-%m-%d %H:%i:%s') &gt;= date_format(#{params.beginTime},'%Y-%m-%d %H:%i:%s')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                and date_format(create_time,'%Y-%m-%d %H:%i:%s') &lt;= date_format(#{params.endTime},'%Y-%m-%d %H:%i:%s')
            </if>
            <if test="userNames != null and userNames.size() > 0">
                and update_by in
                <foreach collection="userNames" open="(" item="userName" separator="," close=")">
                    #{userName}
                </foreach>
            </if>
            ORDER BY create_by desc
        </where>
    </sql>

    <select id="selectTLcInforeportingReductionList" parameterType="com.ruoyi.inforeporting.domain.TLcInforeportingReduction" resultMap="TLcInforeportingReductionResult">
        <include refid="selectTLcInforeportingReductionVo"/>
        <include refid="wheresql"/>
    </select>

    <select id="selectTLcInforeportingReductionListExp" parameterType="com.ruoyi.inforeporting.domain.TLcInforeportingReduction" resultMap="TLcInforeportingReductionResult">
        <include refid="selectTLcInforeportingReductionVoXH"/>
        <include refid="wheresql"/>
    </select>


    <select id="selectTLcInforeportingReductionXingList" parameterType="com.ruoyi.inforeporting.domain.TLcInforeportingReduction" resultMap="TLcInforeportingReductionXingResult">
        SELECT
        (@i:=@i+1)xh,
        <include refid="base"/>
        FROM
        t_lc_inforeporting_reduction s,(select @i:=0)t
        <include refid="wheresql"/>
    </select>

    <sql id="wheresqlAll">
        <where>
            del_flag=0
            <if test="orgId != null and orgId != ''">
                AND org_id=#{orgId}
            </if>
            <if test="caseNo != null and caseNo != ''">
                AND case_no=#{caseNo}
            </if>
            <if test="importBatchNo != null and importBatchNo != ''">
                AND import_batch_no=#{importBatchNo}
            </if>
        </where>
    </sql>

    <select id="selectTLcInforeportingAllList" parameterType="com.ruoyi.inforeporting.domain.TLcInforeportingTemplate" resultMap="TLcInforeportingTemplateResult">
        SELECT
        id,
        types,
        arrears_total,
        remark,
        create_time,
        create_by
        from
        (SELECT id,'1'as types,deduction_amount as arrears_total,remarks as remark,create_time,create_by
        from t_lc_inforeporting_reduction
        <include refid="wheresqlAll"/>
        UNION
        SELECT  id,'3'as types,amount_of_deduction as arrears_total,reasons as remark,create_time,create_by
        from t_lc_inforeporting_company
        <include refid="wheresqlAll"/>
        UNION
        SELECT  id,'2'as types,'' as arrears_total,remarks as remark,create_time,create_by
        from t_lc_inforeporting_buckle
        <include refid="wheresqlAll"/>)ab ORDER BY ab.create_time desc
    </select>

    <update id="rejectTLcInforeportingReductionByIds" parameterType="Long">
        update t_lc_inforeporting_reduction set del_flag=1 where id in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <select id="selectTLcTaskByCaseNo" resultMap="TLcTaskResult">
        SELECT
        t.id,
        t.case_no,
        t.certificate_no,
        t.certificate_type,
        t.custom_code,
        t.custom_name,
        t.arrears_total,
        t.task_status,
        t.overdue_days,
        t.overdue_aging,
        t.owner_id,
        t.owner_name,
        t.org_id,
        t.org_name,
        t.close_date,
        t.old_owner_id,
        t.old_owner_name,
        t.task_type,
        t.allot_type,
        t.create_time,
        t.modify_time,
        t.create_by,
        t.modify_by,
        t.robot_task_id,
        t.robot_call_strategy_id,
        t.transfer_type,
        t.enter_coll_date,
        t.close_case_yhje,
        t.recently_allot_date,
        t.recently_follow_up_date,
        t.hit_rule,
        t.hit_rule_desc,
        t.distribution_strategy,
        t.import_batch_no,
        t.action_code,
        t.action_code_value,
        t.call_sign,
        t.call_sign_value,
        t.phone,
        t.dqyhje,
        t.send_robot_batch_no,
        d.product_name
        FROM   t_lc_task t,t_lc_duncase d
        WHERE  t.case_no = d.case_no AND t.org_id = d.org_id AND t.import_batch_no = d.import_batch_no
        and t.case_no = #{caseNo} AND t.org_id = #{orgId} AND t.import_batch_no = #{importBatchNo}
    </select>

</mapper>