<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.inforeporting.mapper.TLcInforeportingSetMapper">
    
    <resultMap type="com.ruoyi.inforeporting.domain.TLcInforeportingSet" id="TLcInforeportingSetResult">
        <result property="id"    column="id"    />
        <result property="orgId"    column="org_id"    />
        <result property="orgName"    column="org_name"    />
        <result property="reportingType"    column="reporting_type"    />
        <result property="reportingTypeName"    column="reporting_type_name"    />
        <result property="fromColumn"    column="from_column"    />
        <result property="fromColumnName"    column="from_column_name"    />
        <result property="toColumn"    column="to_column"    />
        <result property="showStatus"    column="show_status"    />
        <result property="editStatus"    column="edit_status"    />
        <result property="customSorts"    column="custom_sorts"    />
        <result property="columnLength"    column="column_length"    />
        <result property="requiredStatus"    column="required_status"    />
        <result property="rules"    column="rules"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>



    <insert id="insertTLcInforeportingSet" parameterType="com.ruoyi.inforeporting.domain.TLcInforeportingSet" useGeneratedKeys="true" keyProperty="id">
       INSERT INTO t_lc_inforeporting_set
       (
            org_id,
            org_name,
            reporting_type,
            reporting_type_name,
            from_column,
            from_column_name,
            to_column,
            show_status,
            edit_status,
            custom_sorts,
            column_length,
            required_status,
            rules,
            create_by,
            create_time,
            update_by,
            update_time
        )
        VALUES
        (
            #{orgId},
            #{orgName},
            #{reportingType},
            #{reportingTypeName},
            #{fromColumn},
            #{fromColumnName},
            #{toColumn},
            #{showStatus},
            #{editStatus},
            #{customSorts},
            #{columnLength},
            #{requiredStatus},
            #{rules},
            #{createBy},
            now(),
            #{createBy},
            now()
        )
    </insert>

    <sql id="selectTLcInforeportingSetVo">
        SELECT
        id,
        org_id,
        org_name,
        reporting_type,
        reporting_type_name,
        from_column,
        from_column_name,
        to_column,
        show_status,
        edit_status,
        custom_sorts,
        column_length,
        required_status,
        rules,
        create_by,
        update_by
        FROM
        t_lc_inforeporting_set
    </sql>

    <select id="selectTLcInforeportingSetList" parameterType="com.ruoyi.inforeporting.domain.TLcInforeportingSet" resultMap="TLcInforeportingSetResult">
        <include refid="selectTLcInforeportingSetVo"/>
        <where>
            <if test="orgName != null and orgName != ''">
                AND org_name=#{orgName}
            </if>
            <if test="reportingType != null and reportingType != ''">
                AND reporting_type=#{reportingType}
            </if>
        </where>
    </select>



    <select id="selectTLcInforeportingSetByOrgIdAndTypeList" parameterType="com.ruoyi.inforeporting.domain.TLcInforeportingSet" resultMap="TLcInforeportingSetResult">
        <include refid="selectTLcInforeportingSetVo"/>
        where org_id = #{orgId} AND reporting_type = #{reportingType}
        ORDER BY custom_sorts
    </select>


    <select id="selectTLcInforeportingSetById" parameterType="com.ruoyi.inforeporting.domain.TLcInforeportingSet" resultMap="TLcInforeportingSetResult">
        <include refid="selectTLcInforeportingSetVo"/>
        where id = #{id}
    </select>


    <delete id="deleteTLcInforeportingSetByIds" parameterType="Long">
        delete from t_lc_inforeporting_set where id in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="updateTLcInforeportingSet" parameterType="TLcInforeportingSet">
        update t_lc_inforeporting_set
        <set>
            reporting_type = #{reportingType},
            reporting_type_name = #{reportingTypeName},
            from_column = #{fromColumn},
            from_column_name = #{fromColumnName},
            to_column = #{toColumn},
            show_status = #{showStatus},
            edit_status = #{editStatus},
            custom_sorts = #{customSorts},
            column_length = #{columnLength},
            required_status = #{requiredStatus},
            rules = #{rules},
            update_by = #{updateBy},
            update_time = sysdate()
        </set>
        where id = #{id}
    </update>

</mapper>