<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.selectCaseByPhone.mapper.SelectCaseByPhoneMapper">
    
    <resultMap type="com.ruoyi.selectCaseByPhone.domain.SelectCaseByPhone" id="selectCaseByPhoneResult">
        <result property="id" column="id" jdbcType="BIGINT"/>
        <result property="caseNo" column="case_no" jdbcType="VARCHAR"/>
        <result property="customName" column="custom_name" jdbcType="VARCHAR"/>
        <result property="certificateNo" column="certificate_no" jdbcType="VARCHAR"/>
        <result property="overdueDays" column="overdue_days" jdbcType="VARCHAR"/>
        <result property="appointCaseBalance" column="appoint_case_balance" jdbcType="DECIMAL"/>
        <result property="transferType" column="transfer_type" jdbcType="VARCHAR"/>
        <result property="enterCollDate" column="enter_coll_date" jdbcType="DATE"/>
        <result property="closeCaseYhje" column="close_case_yhje" jdbcType="DECIMAL"/>
        <result property="productName" column="product_name" jdbcType="VARCHAR"/>
        <result property="actionCode" column="action_code" jdbcType="VARCHAR"/>
        <result property="actionCodeValue" column="action_code_value" jdbcType="VARCHAR"/>
        <result property="callSign" column="call_sign" jdbcType="VARCHAR"/>
        <result property="callSignValue" column="call_sign_value" jdbcType="VARCHAR"/>
        <result property="recentlyAllotDate" column="recently_allot_date" jdbcType="TIMESTAMP"/>
        <result property="recentlyFollowUpDate" column="recently_follow_up_date" jdbcType="TIMESTAMP"/>
        <result property="ownerName" column="owner_name" jdbcType="VARCHAR"/>
        <result property="taskType" column="task_type" jdbcType="INTEGER"/>
        <result property="backCaseDate" column="back_case_date" jdbcType="DATE"/>
        <result property="score" column="score" jdbcType="INTEGER"/>
        <result property="closeType" column="close_type" jdbcType="INTEGER"/>
        <result property="closeDate" column="close_date" />
        <result property="dqyhje" column="dqyhje" jdbcType="DECIMAL"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="orgId" column="org_id" jdbcType="VARCHAR"/>
        <result property="orgName" column="org_name" jdbcType="VARCHAR"/>
        <result property="importBatchNo" column="import_batch_no" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="TLcTaskResult" type="com.ruoyi.task.domain.TLcTask">
        <result property="id" column="id" jdbcType="BIGINT"/>
        <result property="certificateNo" column="certificate_no" jdbcType="VARCHAR"/>
        <result property="caseNo" column="case_no" jdbcType="VARCHAR"/>
        <result property="certificateType" column="certificate_type" jdbcType="INTEGER"/>
        <result property="customCode" column="custom_code" jdbcType="VARCHAR"/>
        <result property="customName" column="custom_name" jdbcType="VARCHAR"/>
        <result property="arrearsTotal" column="arrears_total" jdbcType="DECIMAL"/>
        <result property="taskStatus" column="task_status" jdbcType="INTEGER"/>
        <result property="overdueDays" column="overdue_days" jdbcType="BIGINT"/>
        <result property="overdueAging" column="overdue_aging" jdbcType="VARCHAR"/>
        <result property="ownerId" column="owner_id" jdbcType="INTEGER"/>
        <result property="ownerName" column="owner_name" jdbcType="VARCHAR"/>
        <result property="orgId" column="org_id" jdbcType="VARCHAR"/>
        <result property="closeDate" column="close_date" jdbcType="TIMESTAMP"/>
        <result property="oldOwnerId" column="old_owner_id" jdbcType="BIGINT"/>
        <result property="oldOwnerName" column="old_owner_name" jdbcType="VARCHAR"/>
        <result property="taskType" column="task_type" jdbcType="INTEGER"/>
        <result property="allotType" column="allot_type" jdbcType="INTEGER"/>
        <result property="robotTaskId" column="robot_task_id" jdbcType="BIGINT"/>
        <result property="robotCallStrategyId" column="robot_call_strategy_id" jdbcType="BIGINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="modifyTime" column="modify_time" jdbcType="TIMESTAMP"/>
        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
        <result property="modifyBy" column="modify_by" jdbcType="BIGINT"/>
        <result property="orgName" column="org_name" jdbcType="VARCHAR"/>
        <result property="transferType" column="transfer_type" jdbcType="VARCHAR"/>
        <result property="enterCollDate" column="enter_coll_date" jdbcType="DATE"/>
        <result property="closeCaseYhje" column="close_case_yhje" jdbcType="DECIMAL"/>
        <result property="recentlyAllotDate" column="recently_allot_date" jdbcType="TIMESTAMP"/>
        <result property="recentlyFollowUpDate" column="recently_follow_up_date" jdbcType="TIMESTAMP"/>
        <result property="hitRule" column="hit_rule" jdbcType="VARCHAR"/>
        <result property="hitRuleDesc" column="hit_rule_desc" jdbcType="VARCHAR"/>
        <result property="distributionStrategy" column="distribution_strategy" jdbcType="VARCHAR"/>
        <result property="importBatchNo" column="import_batch_no" jdbcType="VARCHAR"/>
        <result property="actionCode" column="action_code" jdbcType="VARCHAR"/>
        <result property="actionCodeValue" column="action_code_value" jdbcType="VARCHAR"/>
        <result property="callSign" column="call_sign" jdbcType="VARCHAR"/>
        <result property="callSignValue" column="call_sign_value" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="dqyhje" column="dqyhje" jdbcType="DECIMAL"/>
        <result property="ljyhje" column="ljyhje" jdbcType="DECIMAL"/>
        <result property="score" column="score" jdbcType="INTEGER"/>
        <result property="sendRobotBatchNo" column="send_robot_batch_no" jdbcType="VARCHAR"/>
        <result property="notebook" column="notebook" jdbcType="VARCHAR"/>
        <result property="color" column="color" jdbcType="CHAR"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectCaseNoByPhone" parameterType="java.lang.String" resultType="java.lang.String">
        select case_no from t_lc_call_record re where re.phone = #{phone} group by case_no
    </select>


    <select id="selectCaseByPhoneList" parameterType="SelectCaseByPhone" resultMap="selectCaseByPhoneResult">
        SELECT
        (select user_group from sys_user where user_id = t.owner_id) as userGroup,
        d.id,
        d.case_no,
        d.custom_name,
        d.transfer_type,
        t.enter_coll_date,
        t.arrears_total as appoint_case_balance,
        d.overdue_days,
        t.close_case_yhje,
        d.product_name,
        t.call_sign,
        t.call_sign_value,
        t.action_code,
        t.action_code_value,
        t.recently_allot_date,
        t.recently_follow_up_date,
        t.owner_name,
        t.task_type,
        t.import_batch_no,
        t.org_id,
        t.task_status AS taskStatus,
        t.close_type,
        t.close_date,
        t.dqyhje,
        d.score,
        t.certificate_no,
        t.phone,
        d.remark,
        d.back_case_date
        FROM t_lc_duncase d, t_lc_task t
        WHERE d.case_no = t.case_no AND d.import_batch_no = t.import_batch_no
              and d.org_id = #{orgId}
          <if test="caseNoList != null and caseNoList.size() > 0">
              and d.case_no in
                  <foreach collection="caseNoList" index="index" item="item" open="(" separator="," close=")">
                      #{item}
                  </foreach>
          </if>
    </select>

    <select id="selectTotalCountMoney" parameterType="com.ruoyi.task.domain.TLcTask" resultType="java.util.Map">
        SELECT
        count(1) as totalCaseNum,
        sum(t.arrears_total) as totalArrears,
        sum(t.dqyhje) as totalPay
        FROM  t_lc_task t,t_lc_duncase d
        WHERE t.case_no = d.case_no AND t.import_batch_no = d.import_batch_no
        and d.org_id = #{orgId}
        <if test="caseNoList != null and caseNoList.size() > 0">
            and d.case_no in
            <foreach collection="caseNoList" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        ORDER BY t.task_status ASC,t.create_time DESC,t.recently_allot_date ASC,t.enter_coll_date ASC,t.case_no ASC
    </select>


    <select id="selectMyTaskList" parameterType="com.ruoyi.task.domain.TLcTask" resultMap="TLcTaskResult">
        SELECT
        d.ljyhje,t.color,d.remark,
        t.id,
        t.case_no,
        t.certificate_no,
        t.certificate_type,
        t.custom_code,
        t.custom_name,
        t.arrears_total,
        t.task_status,
        t.overdue_days,
        t.overdue_aging,
        t.owner_id,
        t.owner_name,
        t.org_id,
        t.org_name,
        t.close_date,
        t.old_owner_id,
        t.old_owner_name,
        t.task_type,
        t.allot_type,
        t.create_time,
        t.modify_time,
        t.create_by,
        t.modify_by,
        t.robot_task_id,
        t.robot_call_strategy_id,
        t.transfer_type,
        t.enter_coll_date,
        t.close_case_yhje,
        t.recently_allot_date,
        t.recently_follow_up_date,
        t.hit_rule,
        t.hit_rule_desc,
        t.distribution_strategy,
        t.import_batch_no,
        t.action_code,
        t.action_code_value,
        t.call_sign,
        t.call_sign_value,
        t.phone,
        t.dqyhje,
        t.send_robot_batch_no,
        t.notebook
        FROM t_lc_task t,t_lc_duncase d
        WHERE t.case_no = d.case_no AND t.org_id = d.org_id AND t.import_batch_no = d.import_batch_no
        and d.org_id = #{orgId}
        <if test="caseNoList != null and caseNoList.size() > 0">
            and d.case_no in
            <foreach collection="caseNoList" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        ORDER BY t.task_status ASC,t.create_time DESC,t.recently_allot_date ASC,t.enter_coll_date ASC,t.case_no ASC
    </select>
</mapper>