<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.assetspackage.mapper.distribution.TLcTaskAssetMapper">

    <resultMap id="TLcTaskResult" type="com.ruoyi.assetspackage.domain.distribution.TLcTaskAsset">
        <result property="id" column="id" jdbcType="BIGINT"/>
        <result property="certificateNo" column="certificate_no" jdbcType="VARCHAR"/>
        <result property="caseNo" column="case_no" jdbcType="VARCHAR"/>
        <result property="certificateType" column="certificate_type" jdbcType="INTEGER"/>
        <result property="customCode" column="custom_code" jdbcType="VARCHAR"/>
        <result property="customName" column="custom_name" jdbcType="VARCHAR"/>
        <result property="arrearsTotal" column="arrears_total" jdbcType="DECIMAL"/>
        <result property="taskStatus" column="task_status" jdbcType="INTEGER"/>
        <result property="overdueDays" column="overdue_days" jdbcType="BIGINT"/>
        <result property="overdueAging" column="overdue_aging" jdbcType="VARCHAR"/>
        <result property="ownerId" column="owner_id" jdbcType="INTEGER"/>
        <result property="ownerName" column="owner_name" jdbcType="VARCHAR"/>
        <result property="orgId" column="org_id" jdbcType="VARCHAR"/>
        <result property="closeDate" column="close_date" jdbcType="TIMESTAMP"/>
        <result property="oldOwnerId" column="old_owner_id" jdbcType="BIGINT"/>
        <result property="oldOwnerName" column="old_owner_name" jdbcType="VARCHAR"/>
        <result property="taskType" column="task_type" jdbcType="INTEGER"/>
        <result property="allotType" column="allot_type" jdbcType="INTEGER"/>
        <result property="robotTaskId" column="robot_task_id" jdbcType="BIGINT"/>
        <result property="robotCallStrategyId" column="robot_call_strategy_id" jdbcType="BIGINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="modifyTime" column="modify_time" jdbcType="TIMESTAMP"/>
        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
        <result property="modifyBy" column="modify_by" jdbcType="BIGINT"/>
        <result property="orgName" column="org_name" jdbcType="VARCHAR"/>
        <result property="transferType" column="transfer_type" jdbcType="VARCHAR"/>
        <result property="enterCollDate" column="enter_coll_date" jdbcType="DATE"/>
        <result property="closeCaseYhje" column="close_case_yhje" jdbcType="DECIMAL"/>
        <result property="recentlyAllotDate" column="recently_allot_date" jdbcType="TIMESTAMP"/>
        <result property="recentlyFollowUpDate" column="recently_follow_up_date" jdbcType="TIMESTAMP"/>
        <result property="backCaseDate" column="back_case_date" jdbcType="TIMESTAMP"/>
        <result property="hitRule" column="hit_rule" jdbcType="VARCHAR"/>
        <result property="hitRuleDesc" column="hit_rule_desc" jdbcType="VARCHAR"/>
        <result property="distributionStrategy" column="distribution_strategy" jdbcType="VARCHAR"/>
        <result property="importBatchNo" column="import_batch_no" jdbcType="VARCHAR"/>
        <result property="actionCode" column="action_code" jdbcType="VARCHAR"/>
        <result property="actionCodeValue" column="action_code_value" jdbcType="VARCHAR"/>
        <result property="callSign" column="call_sign" jdbcType="VARCHAR"/>
        <result property="callSignValue" column="call_sign_value" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="dqyhje" column="dqyhje" jdbcType="DECIMAL"/>
        <result property="ljyhje" column="ljyhje" jdbcType="DECIMAL"/>
        <result property="score" column="score" jdbcType="INTEGER"/>
        <result property="sendRobotBatchNo" column="send_robot_batch_no" jdbcType="VARCHAR"/>
        <result property="notebook" column="notebook" jdbcType="VARCHAR"/>
        <result property="color" column="color" jdbcType="CHAR"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="SELECT_T_LC_TASK">
        t.id,
        t.case_no,
        t.certificate_no,
        t.certificate_type,
        t.custom_code,
        t.custom_name,
        t.arrears_total,
        t.task_status,
        t.overdue_days,
        t.overdue_aging,
        t.owner_id,
        t.owner_name,
        t.org_id,
        t.org_name,
        t.close_date,
        t.old_owner_id,
        t.old_owner_name,
        t.task_type,
        t.allot_type,
        t.create_time,
        t.modify_time,
        t.create_by,
        t.modify_by,
        t.robot_task_id,
        t.robot_call_strategy_id,
        t.transfer_type,
        t.enter_coll_date,
        t.close_case_yhje,
        t.recently_allot_date,
        t.recently_follow_up_date,
        t.hit_rule,
        t.hit_rule_desc,
        t.distribution_strategy,
        t.import_batch_no,
        t.action_code,
        t.action_code_value,
        t.call_sign,
        t.call_sign_value,
        t.phone,
        t.dqyhje,
        t.send_robot_batch_no,
        t.notebook,
        t.back_case_date
    </sql>

    <sql id="SELECT_SAME_TASK">
        t.id,
        t.case_no,
        t.certificate_no,
        t.arrears_total,
        t.owner_id,
        t.owner_name,
        t.org_id,
        t.org_name
    </sql>

    <sql id="SELECT_TASK_WHERE">
        <if test="id != null">
            and t.id = #{id}
        </if>
        <if test="caseNo != null  and caseNo != ''">
            and t.case_no = #{caseNo}
        </if>
        <if test="certificateNo != null  and certificateNo != ''">
            and t.certificate_no = #{certificateNo}
        </if>
        <if test="certificateType != null  and certificateType != ''">
            and t.certificate_type = #{certificateType}
        </if>
        <if test="customCode != null  and customCode != ''">
            and t.custom_code = #{customCode}
        </if>
        <if test="customName != null  and customName != ''">
            and t.custom_name like concat('%', #{customName}, '%')
        </if>
        <if test="taskStatus != null">
            and t.task_status = #{taskStatus}
        </if>
        <if test="ownerId != null ">
            and t.owner_id = #{ownerId}
        </if>
        <if test="ownerName != null and ownerName != ''">
            and t.owner_name = #{ownerName}
        </if>
        <if test="transferType != null and transferType != ''">
            and t.transfer_type = #{transferType}
        </if>
        <if test="color != null and color != ''">
            and t.color = #{color}
        </if>
        <if test="collJob != null and collJob != ''">
            and t.task_status = 2
        </if>
        <choose>
            <when test="orgId != null and orgId != ''">
                and t.org_id = #{orgId}
            </when>
            <otherwise>
                <choose>
                    <when test="deptIds != null">
                        and t.org_id in
                        <foreach collection="deptIds" item="deptId" open="(" close=")" separator=",">
                            #{deptId}
                        </foreach>
                    </when>
                </choose>
            </otherwise>
        </choose>
        <if test="taskType != null">
            and t.task_type = #{taskType}
        </if>
        <if test="allotType != null ">
            and t.allot_type = #{allotType}
        </if>
        <if test="taskTypes != null ">
            and t.task_type in
            <foreach collection="taskTypes" open="(" close=")" separator="," item="taskType">
                #{taskType}
            </foreach>
        </if>
        <if test="startArrearsTotal != null">
            and t.arrears_total <![CDATA[>=]]> #{startArrearsTotal}
        </if>
        <if test="endArrearsTotal != null">
            and t.arrears_total <![CDATA[<=]]> #{endArrearsTotal}
        </if>
        <if test="startCloseCaseYhje != null">
            and t.close_case_yhje <![CDATA[>=]]> #{startCloseCaseYhje}
        </if>
        <if test="endCloseCaseYhje != null">
            and t.close_case_yhje <![CDATA[<=]]> #{endCloseCaseYhje}
        </if>
        <if test="startRecentlyAllotDate != null">
            and t.recently_allot_date <![CDATA[>=]]> #{startRecentlyAllotDate}
        </if>
        <if test="endRecentlyAllotDate != null">
            and t.recently_allot_date <![CDATA[<=]]> #{endRecentlyAllotDate}
        </if>
        <if test="startRecentlyFollowUpDate != null">
            and t.recently_follow_up_date <![CDATA[>=]]> #{startRecentlyFollowUpDate}
        </if>
        <if test="endRecentlyFollowUpDate != null">
            and t.recently_follow_up_date <![CDATA[<=]]> #{endRecentlyFollowUpDate}
        </if>
        <!--  <if test="enterCollDate != null ">
              and t.enter_coll_date = #{enterCollDate}
          </if>-->
        <if test="startEnterCollDate != null">
            and t.enter_coll_date <![CDATA[>=]]> #{startEnterCollDate}
        </if>
        <if test="endEnterCollDate != null">
            and t.enter_coll_date <![CDATA[<=]]> #{endEnterCollDate}
        </if>
        <if test="actionCode != null  and actionCode != ''">
            and t.action_code = #{actionCode}
        </if>
        <if test="actionCodeValue != null  and actionCodeValue != ''">
            and t.action_code_value = #{actionCodeValue}
        </if>
        <if test="callSign != null  and callSign != ''">
            and t.call_sign = #{callSign}
        </if>
        <if test="callCode != null  and callCode != ''">
            and t.call_sign = #{callCode}
        </if>
        <if test="callSignValue != null  and callSignValue != ''">
            and t.call_sign_value = #{callSignValue}
        </if>
        <if test="phone != null  and phone != ''">
            and t.phone = #{phone}
        </if>
        <if test="startDqyhje != null">
            and t.dqyhje <![CDATA[>=]]> #{startDqyhje}
        </if>
        <if test="endDqyhje != null">
            and t.dqyhje <![CDATA[<=]]> #{endDqyhje}
        </if>
        <if test="startOverdueDays != null">
            and t.overdue_days <![CDATA[>=]]> #{startOverdueDays}
        </if>
        <if test="endOverdueDays != null">
            and t.overdue_days <![CDATA[<=]]> #{endOverdueDays}
        </if>
        <if test="callCodeHistoryList != null and callCodeHistoryList.size()>0">
            and EXISTS(SELECT r.call_sign FROM t_lc_call_record r WHERE r.case_no = t.case_no and r.call_sign IN
            <foreach collection="callCodeHistoryList" item="cl" open="(" close=")" separator=",">
                #{cl}
            </foreach>
            )
        </if>
    </sql>

    <sql id="SELECT_TASK_WHERE_FIX_COLUMN">
        <if test="caseNo != null  and caseNo != ''">
            and t.case_no = #{caseNo}
        </if>
        <choose>
            <when test="orgId != null and orgId != ''">
                and t.org_id = #{orgId}
            </when>
            <otherwise>
                <choose>
                    <when test="deptIds != null">
                        and t.org_id in
                        <foreach collection="deptIds" item="deptId" open="(" close=")" separator=",">
                            #{deptId}
                        </foreach>
                    </when>
                </choose>
            </otherwise>
        </choose>
        <if test="customName != null  and customName != ''">
            and t.custom_name like concat('%', #{customName}, '%')
        </if>
        <if test="startArrearsTotal != null">
            and t.arrears_total <![CDATA[>=]]> #{startArrearsTotal}
        </if>
        <if test="endArrearsTotal != null">
            and t.arrears_total <![CDATA[<=]]> #{endArrearsTotal}
        </if>
        <if test="callSign != null  and callSign != ''">
            and t.call_sign = #{callSign}
        </if>
        <if test="callCode != null  and callCode != ''">
            and t.call_sign = #{callCode}
        </if>
        <if test="callCodeList != null ">
            and t.call_sign IN
            <foreach collection="callCodeList" item="cc" open="(" close=")" separator=",">
                #{cc}
            </foreach>
        </if>
        <if test="transferType != null and transferType != ''">
            and t.transfer_type like concat('%', #{transferType}, '%')
        </if>
        <if test="phone != null  and phone != ''">
            and t.phone = #{phone}
        </if>
        <if test="startCloseCaseYhje != null">
            and t.close_case_yhje <![CDATA[>=]]> #{startCloseCaseYhje}
        </if>
        <if test="endCloseCaseYhje != null">
            and t.close_case_yhje <![CDATA[<=]]> #{endCloseCaseYhje}
        </if>
        <if test="actionCode != null  and actionCode != ''">
            and t.action_code = #{actionCode}
        </if>
        <if test="actionCodeList != null ">
            and t.action_code IN
            <foreach collection="actionCodeList" item="ac" open="(" close=")" separator=",">
                #{ac}
            </foreach>
        </if>
        <if test="taskType != null ">
            and t.task_type = #{taskType}
        </if>
        <if test="taskStatus != null ">
            and t.task_status = #{taskStatus}
        </if>
        <if test="ownerName != null and ownerName != ''">
            and t.owner_name = #{ownerName}
        </if>
        <if test="enterCollDate != null ">
            and t.enter_coll_date = #{enterCollDate}
        </if>
        <if test="startEnterCollDate != null">
            and t.enter_coll_date <![CDATA[>=]]> #{startEnterCollDate}
        </if>
        <if test="endEnterCollDate != null">
            and t.enter_coll_date <![CDATA[<=]]> #{endEnterCollDate}
        </if>
        <if test="startRecentlyAllotDate != null">
            and t.recently_allot_date <![CDATA[>=]]> #{startRecentlyAllotDate}
        </if>
        <if test="endRecentlyAllotDate != null">
            and t.recently_allot_date <![CDATA[<=]]> #{endRecentlyAllotDate}
        </if>
        <if test="startRecentlyFollowUpDate != null">
            and t.recently_follow_up_date <![CDATA[>=]]> #{startRecentlyFollowUpDate}
        </if>
        <if test="endRecentlyFollowUpDate != null">
            and t.recently_follow_up_date <![CDATA[<=]]> #{endRecentlyFollowUpDate}
        </if>
        <if test="startDqyhje != null">
            and t.dqyhje <![CDATA[>=]]> #{startDqyhje}
        </if>
        <if test="endDqyhje != null">
            and t.dqyhje <![CDATA[<=]]> #{endDqyhje}
        </if>
        <if test="startOverdueDays != null">
            and t.overdue_days <![CDATA[>=]]> #{startOverdueDays}
        </if>
        <if test="endOverdueDays != null">
            and t.overdue_days <![CDATA[<=]]> #{endOverdueDays}
        </if>

    </sql>

    <insert id="batchInsertTask" parameterType="java.util.List">
        INSERT INTO t_lc_task (
        case_no,
        certificate_no,
        certificate_type,
        custom_code,
        custom_name,
        arrears_total,
        task_status,
        overdue_days,
        overdue_aging,
        owner_id,
        owner_name,
        org_id,
        org_name,
        old_owner_id,
        old_owner_name,
        close_date,
        allot_type,
        task_type,
        create_time,
        modify_time,
        create_by,
        modify_by,
        robot_task_id,
        robot_call_strategy_id,
        transfer_type,
        enter_coll_date,
        close_case_yhje,
        recently_allot_date,
        recently_follow_up_date,
        hit_rule,
        hit_rule_desc,
        distribution_strategy,
        import_batch_no,
        action_code,
        action_code_value,
        call_sign,
        call_sign_value,
        phone,
        back_case_date
        ) VALUES
        <foreach collection="taskList" item="task" separator=",">
            (
            #{task.caseNo},
            #{task.certificateNo},
            #{task.certificateType},
            #{task.customCode},
            #{task.customName},
            #{task.arrearsTotal},
            #{task.taskStatus},
            #{task.overdueDays},
            #{task.overdueAging},
            #{task.ownerId},
            #{task.ownerName},
            #{task.orgId},
            #{task.orgName},
            #{task.oldOwnerId},
            #{task.oldOwnerName},
            #{task.closeDate},
            #{task.allotType},
            #{task.taskType},
            NOW(),
            NOW(),
            #{task.createBy},
            #{task.modifyBy},
            #{task.robotTaskId},
            #{task.robotCallStrategyId},
            #{task.transferType},
            #{task.enterCollDate},
            #{task.closeCaseYhje},
            #{task.recentlyAllotDate},
            #{task.recentlyFollowUpDate},
            #{task.hitRule},
            #{task.hitRuleDesc},
            #{task.distributionStrategy},
            #{task.importBatchNo},
            #{task.actionCode},
            #{task.actionCodeValue},
            #{task.callSign},
            #{task.callSignValue},
            #{task.phone},
            #{task.backCaseDate}
            )
        </foreach>
    </insert>

    <select id="findDeptIdByOrgId" parameterType="java.lang.String" resultType="java.lang.Long">
        SELECT
            sd.dept_id
        FROM
            sys_dept sd,
            org_package op
        WHERE
            op.org_name = sd.dept_name
        AND op.id = #{orgId}
    </select>

    <select id="selectSameCaseTaskList" resultMap="TLcTaskResult">
        select
        <include refid="SELECT_SAME_TASK"/>
        from t_lc_task t
        where t.certificate_no = #{certificateNo} and t.org_id = #{orgId} and t.task_status != 3
        order by t.owner_id desc
    </select>

    <select id="selectTaskListByCertificateNosAndOrdId" resultMap="TLcTaskResult">
        select
        <include refid="SELECT_SAME_TASK"/>
        from t_lc_task t
        where t.task_status != 3 and t.org_id = #{orgId}
        and t.certificate_no in
        <foreach collection="certificateNos" item="certificateNo" separator="," open="(" close=")">
            #{certificateNo}
        </foreach>
    </select>
</mapper>