<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.task.mapper.TLcSelectRecordMapper">

    <resultMap id="TLcSelectRecordResult" type="com.ruoyi.task.domain.TLcSelectRecord">
        <result property="id" column="id"/>
        <result property="caseNo" column="case_no"/>
        <result property="contactRelation" column="contact_relation"/>
        <result property="searchType" column="search_type"/>
        <result property="validateStatus" column="validate_status"/>
        <result property="otherRemark" column="other_remark"/>
        <result property="createTime" column="create_time"/>
        <result property="createBy" column="create_by"/>
        <result property="content" column="content"/>
        <result property="objName" column="obj_name"/>
        <result property="createName" column="user_name"/>
        <result property="otherContactRelation" column="other_contact_relation"/>
    </resultMap>

    <sql id="selectTLcSelectRecordVo">
        select id, case_no,  contact_relation, search_type, validate_status, other_remark, create_time, create_by, content, obj_name, create_time, user_name,other_contact_relation from t_lc_select_record
    </sql>

    <insert id="insertTLcSelectRecord" parameterType="com.ruoyi.task.domain.TLcSelectRecord" useGeneratedKeys="true" keyProperty="id">
        insert into t_lc_select_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <!--<if test="certificateNo != null  and certificateNo != ''">certificate_no,</if>-->
            <if test="caseNo != null  and caseNo != ''">case_no,</if>
            <if test="contactRelation != null  and contactRelation != ''">contact_relation,</if>
            <if test="searchType != null ">search_type,</if>
            <if test="validateStatus != null ">validate_status,</if>
            <if test="otherRemark != null ">other_remark,</if>
            create_time,
            <if test="createBy != null ">create_by,</if>
            <if test="content != null  and content != ''">content,</if>
            <if test="objName != null ">obj_name,</if>
            <if test="createName != null ">user_name,</if>
            <if test="otherContactRelation != null ">other_contact_relation,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <!--<if test="certificateNo != null  and certificateNo != ''">#{certificateNo},</if>-->
            <if test="caseNo != null  and caseNo != ''">#{caseNo},</if>
            <if test="contactRelation != null ">#{contactRelation},</if>
            <if test="searchType != null ">#{searchType},</if>
            <if test="validateStatus != null ">#{validateStatus},</if>
            <if test="otherRemark != null ">#{otherRemark},</if>
            NOW(),
            <if test="createBy != null ">#{createBy},</if>
            <if test="content != null  and content != ''">#{content},</if>
            <if test="objName != null ">#{objName},</if>
            <if test="createName != null ">#{createName},</if>
            <if test="otherContactRelation != null ">#{otherContactRelation},</if>
        </trim>
    </insert>

    <select id="findSelectRecordByCaseNo" parameterType="java.lang.String" resultMap="TLcSelectRecordResult">
        <include refid="selectTLcSelectRecordVo"/>
        WHERE case_no = #{caseNo}
        ORDER BY create_time desc
    </select>


</mapper>