<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.assetspackage.mapper.RepaymentTemplatesPackageMapper">
    
    <resultMap type="com.ruoyi.assetspackage.domain.RepaymentTemplatesPackage" id="RepaymentTemplatesPackageResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="url"    column="url"    />
        <result property="headRowNum"    column="head_row_num"    />
        <result property="dataRowNum"    column="data_row_num"    />
        <result property="orgId"    column="org_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectRepaymentTemplatesPackageVo">
        select id, name, url, head_row_num, data_row_num, org_id, create_by, create_time, update_by, update_time from repayment_templates_package
    </sql>

    <select id="selectRepaymentTemplatesPackageList" parameterType="RepaymentTemplatesPackage" resultMap="RepaymentTemplatesPackageResult">
        <include refid="selectRepaymentTemplatesPackageVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
        </where>
    </select>
    
    <select id="selectRepaymentTemplatesPackageById" parameterType="String" resultMap="RepaymentTemplatesPackageResult">
        <include refid="selectRepaymentTemplatesPackageVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertRepaymentTemplatesPackage" parameterType="RepaymentTemplatesPackage">
        insert into repayment_templates_package
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">id,</if>
            <if test="name != null  and name != ''">name,</if>
            <if test="url != null  and url != ''">url,</if>
            <if test="headRowNum != null  and headRowNum != ''">head_row_num,</if>
            <if test="dataRowNum != null  and dataRowNum != ''">data_row_num,</if>
            <if test="orgId != null  and orgId != ''">org_id,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">#{id},</if>
            <if test="name != null  and name != ''">#{name},</if>
            <if test="url != null  and url != ''">#{url},</if>
            <if test="headRowNum != null  and headRowNum != ''">#{headRowNum},</if>
            <if test="dataRowNum != null  and dataRowNum != ''">#{dataRowNum},</if>
            <if test="orgId != null  and orgId != ''">#{orgId},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateRepaymentTemplatesPackage" parameterType="RepaymentTemplatesPackage">
        update repayment_templates_package
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null  and name != ''">name = #{name},</if>
            <if test="url != null  and url != ''">url = #{url},</if>
            <if test="headRowNum != null  and headRowNum != ''">head_row_num = #{headRowNum},</if>
            <if test="dataRowNum != null  and dataRowNum != ''">data_row_num = #{dataRowNum},</if>
            <if test="orgId != null  and orgId != ''">org_id = #{orgId},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteRepaymentTemplatesPackageById" parameterType="String">
        delete from repayment_templates_package where id = #{id}
    </delete>

    <delete id="deleteRepaymentTemplatesPackageByIds" parameterType="String">
        delete from repayment_templates_package where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectTemplateByTemplateName" parameterType="java.lang.String" resultMap="RepaymentTemplatesPackageResult">
        <include refid="selectRepaymentTemplatesPackageVo"/>
        <where>
            and name = #{templateName}
        </where>
    </select>
    
</mapper>