<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('导入统计')" />
    <th:block th:include="include :: datetimepicker-css" />
    <style>
        #formId{
            position: absolute;
            top: 100px;
            left: 30%;
            font-size: 15px;
        }
        .form-control{
            font-size: 24px;
            border: 0px;
        }
        .btn{
            font-size: 12px;
            padding: 5px 10px;
        }
    </style>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal" id="formId" >
        <input id = "importBatchNo" name="importBatchNo" th:value="${importBatchNo}" type="hidden">
        <input id = "orgId" name="orgId" type="hidden">
        <input id = "orgName" name="orgName" type="hidden">
        <input id = "totalNum" name="totalNum" type="hidden">
        <input id = "addNum" name="addNum" type="hidden">
        <input id = "modifyNum" name="modifyNum" type="hidden">
        <input id = "urgeNum" name="urgeNum" type="hidden">
        <input id = "createBy" name="createBy" type="hidden">

        <div class="form-group">
            <div class="col-sm-8">
                <input id="insert" value="" class="form-control" type="text" disabled>
            </div>
            <a id="xz" class="btn btn-success" onclick="add()" >
                <i class="fa fa-plus"></i> 新增
            </a>
        </div>
        <div class="form-group">
            <div class="col-sm-8">
                <input id="update" value="" class="form-control" type="text" disabled>
            </div>
            <a id="gx" class="btn btn-warning" onclick="update()" >
                <i class="fa fa-plus"></i> 更新
            </a>
        </div>
        <div class="form-group">
            <div class="col-sm-8">
                <input id="exception" value="" class="form-control" type="text" disabled>
            </div>
            <a class="btn btn-primary" onclick="toStatisticsDetail();" >
                <i class="fa fa-plus"></i> 查看
            </a>
        </div>
    </form>
</div>
<th:block th:include="include :: footer" />
<th:block th:include="include :: datetimepicker-js" />
<script type="text/javascript">
    var prefix = ctx + "xyImport/assets";
    $(function () {
        var pch = $("#importBatchNo").val();
        $.modal.loading("数据加载中，请稍后...");
        $.ajax({
            url: prefix+"/checkData",
            dataType: "json",
            type: "post",
            data:{importBatchNo:pch},
            success:function(data){
                $.modal.closeLoading();
                var result = JSON.parse(data.msg);
                var insertSize = result.insertSize;
                var updateSize = result.updateSize;
                var exectionSize = result.exectionSize;

                $("#insert").val("需要新增"+insertSize+"条");
                $("#update").val("需要更新"+updateSize+"条");
                $("#exception").val("数据异常"+exectionSize+"条");

                $("#importBatchNo").val(result.importBatchNo);
                $("#orgId").val(result.orgId);
                $("#orgName").val(result.orgName);
                $("#totalNum").val(result.totalNum);
                $("#addNum").val(result.addNum);
                $("#modifyNum").val(result.modifyNum);
                $("#urgeNum").val(result.urgeNum);
                $("#createBy").val(result.createBy);

                if(insertSize=="0"){
                    $("#xz").attr('disabled','true');
                    $("#xz").css('pointer-events','none');
                }
                if(updateSize=="0"){
                    $("#gx").attr('disabled','true');
                    $("#gx").css('pointer-events','none');
                }
            }
        });


    });




    $("#form-assetspackage-add").validate({
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/add", $('#form-assetspackage-add').serialize());
        }
    }
    
    function add() {
        $("#xz").attr('disabled','true');
        $("#xz").css('pointer-events','none');
        $.modal.loading("操作中，请稍后...");
        var pch = $("#importBatchNo").val();
        var orgId = $("#orgId").val();
        var orgName = $("#orgName").val();
        var totalNum = $("#totalNum").val();
        var addNum = $("#addNum").val();
        var modifyNum = $("#modifyNum").val();
        var urgeNum = $("#urgeNum").val();
        var createBy = $("#createBy").val();
        $.ajax({
            url: prefix+"/insert",
            dataType: "json",
            type: "post",
            data:{
                importBatchNo:pch,
                orgId:orgId,
                orgName:orgName,
                totalNum:totalNum,
                addNum:addNum,
                modifyNum:modifyNum,
                urgeNum:urgeNum,
                createBy:createBy
            },
            success:function(data){
                $.modal.closeLoading();
                var result = data.msg;
                $.modal.alertSuccess(result);
                $("#xz").attr('disabled','true');
                $("#xz").css('pointer-events','none');

            }
        });
    }

    function update() {
        $("#gx").attr('disabled','true');
        $("#gx").css('pointer-events','none');
        $.modal.loading("操作中，请稍后...");
        var pch = $("#importBatchNo").val();
        var orgId = $("#orgId").val();
        var orgName = $("#orgName").val();
        var totalNum = $("#totalNum").val();
        var addNum = $("#addNum").val();
        var modifyNum = $("#modifyNum").val();
        var urgeNum = $("#urgeNum").val();
        var createBy = $("#createBy").val();
        $.ajax({
            url: prefix+"/update",
            dataType: "json",
            type: "post",
            data:{
                importBatchNo:pch,
                importBatchNo:pch,
                orgId:orgId,
                orgName:orgName,
                totalNum:totalNum,
                addNum:addNum,
                modifyNum:modifyNum,
                urgeNum:urgeNum,
                createBy:createBy
            },
            success:function(data){
                $.modal.closeLoading();
                var result = data.msg;
                $.modal.alertSuccess(result);
                $("#gx").attr('disabled','true');
                $("#gx").css('pointer-events','none');
            }
        });
    }
    function toStatisticsDetail() {
        var url = prefix+"/toStatisticsDetail";
        var width = "600";
        var height = $(window).height() - 80;
        var options = {
            title:  "查看详情窗口",
            width: width,
            height: height,
            url: url,
            btn: ['关闭'],
            yes: function (index, layero) {
                layer.close(index);
            }
        };
        $.modal.openOptions(options);

    }

</script>
</body>
</html>