<!--
<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改案件轨迹')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-assign-edit" th:object="${tLcDuncaseAssign}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">客户姓名：</label>
                <div class="col-sm-8">
                    <input name="customName" th:field="*{customName}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">证件号：</label>
                <div class="col-sm-8">
                    <input name="certificateNo" th:field="*{certificateNo}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">案件编号：</label>
                <div class="col-sm-8">
                    <input name="caseNo" th:field="*{caseNo}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">任务编号：</label>
                <div class="col-sm-8">
                    <input name="taskId" th:field="*{taskId}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">操作员ID：</label>
                <div class="col-sm-8">
                    <input name="operationId" th:field="*{operationId}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">操作员姓名：</label>
                <div class="col-sm-8">
                    <input name="operationName" th:field="*{operationName}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">转移类型(1：分派转移，2：委上转移，3：结案转移，4：协助催收，5：临时代理)：</label>
                <div class="col-sm-8">
                    <select name="transferType" class="form-control m-b">
                        <option value="">所有</option>
                    </select>
                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 代码生成请选择字典属性</span>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">转移状态(1:处理中,2:已转移)：</label>
                <div class="col-sm-8">
                    <div class="radio-box">
                        <input type="radio" name="transferStatus" value="">
                        <label th:for="transferStatus" th:text="未知"></label>
                    </div>
                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 代码生成请选择字典属性</span>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">任务状态：</label>
                <div class="col-sm-8">
                    <div class="radio-box">
                        <input type="radio" name="taskStatus" value="">
                        <label th:for="taskStatus" th:text="未知"></label>
                    </div>
                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 代码生成请选择字典属性</span>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">业务归属人：</label>
                <div class="col-sm-8">
                    <input name="ownerId" th:field="*{ownerId}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">业务归属机构：</label>
                <div class="col-sm-8">
                    <input name="orgId" th:field="*{orgId}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">催收组ID：</label>
                <div class="col-sm-8">
                    <input name="collectTeamId" th:field="*{collectTeamId}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">催收组名称：</label>
                <div class="col-sm-8">
                    <input name="collectTeamName" th:field="*{collectTeamName}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">修改时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input name="modifyTime" th:value="${#dates.format(tLcDuncaseAssign.modifyTime, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">修改人：</label>
                <div class="col-sm-8">
                    <input name="modifyBy" th:field="*{modifyBy}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">是否有效 1：是，2：否：</label>
                <div class="col-sm-8">
                    <div class="radio-box">
                        <input type="radio" name="validateStatus" value="">
                        <label th:for="validateStatus" th:text="未知"></label>
                    </div>
                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 代码生成请选择字典属性</span>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script type="text/javascript">
        var prefix = ctx + "system/assign";
        $("#form-assign-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-assign-edit').serialize());
            }
        }

        $("input[name='modifyTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
    </script>
</body>
</html>-->
