<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改【请填写功能名称】')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-conf-edit" th:object="${tLcOrgSpeechcraftConf}">
            <input name="id" id="id" th:field="*{id}" type="hidden">
            <input type="hidden" th:value="${surPlusConcurrentValue}" id="surPlusConcurrentValue"/>
            <input type="hidden" th:value="${waitEditConcurrentValue}" id="waitEditConcurrentValue"/>
            <div class="form-group">
                <label class="col-sm-3 control-label">委托方：</label>
                <div class="col-sm-8">
                    <input id="orgIdValue" th:field="*{orgId}" class="form-control" type="hidden">
                    <select class="form-control" name="orgIdAndName" id="orgId" required disabled>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">并发量</label>
                <div class="col-sm-8">
                    <input name="concurrentValue" id="concurrentValue" th:field="*{concurrentValue}" class="form-control" type="text">
                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i>当前剩余并发量<span th:text="${surPlusConcurrentValue}" /></span>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">话术：</label>
                <div class="col-sm-8">
                    <!--<input name="speechcraftName" th:field="*{speechcraftName}" class="form-control" type="text">-->
                    <label th:each="speechcraft:${speechcraftNameList}" class="check-box">
                        <input name="robotDefIdAndName" class="robotDefIdAndName" type="checkbox" th:value="${speechcraft.robotDefIdAndName}" th:text="${speechcraft.robotName}" th:checked="${speechcraft.flag}">
                        <!--<input name="speechcraftName" class="speechcraftName" type="hidden" th:value="${speechcraft.robotName}">-->
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label"><span style="color: red; ">*</span>呼叫起始时间(08:00)：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="startCallTime" id="startCallTime" th:field="*{startCallTime}" class="form-control" type="text" required>
                        <!--<input name="startCallDate" id="startCallDate" th:value="${#dates.format(tLcCallStrategyConfig.startCallDate, 'yyyy-MM-dd HH:mm:ss')}" class="form-control" placeholder="yyyy-MM-dd HH:mm:ss" type="text" required>
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>-->
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label"><span style="color: red; ">*</span>呼叫停止时间(20:00)：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="endCallTime" id="endCallTime" th:field="*{endCallTime}" class="form-control" type="text" required>
                        <!--<input name="stopCallDate" id="stopCallDate" th:value="${#dates.format(tLcCallStrategyConfig.stopCallDate, 'yyyy-MM-dd HH:mm:ss')}" class="form-control" placeholder="yyyy-MM-dd HH:mm:ss" type="text" required>
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>-->
                    </div>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "orgspeech/conf";
        var taskPrefix = ctx + "collect/task";

        $(function () {
            initOrg();
        })

        function initOrg() {
            var orgIdValue = $("#orgIdValue").val();
            $.post(
                taskPrefix + "/initOrg",
                function(data) {
                    // alert(JSON.stringify(data));
                    if (data.code == 0) {//请求成功
                        for (var i = 0; i < data.rows.length; i++) {
                            if (orgIdValue == data.rows[i].deptId) {
                                var opt = "<option value='"+data.rows[i].deptId+","+data.rows[i].deptName+"' selected>"+data.rows[i].deptName+"</option>";
                            } /*else {
                                var opt = "<option value='"+data.rows[i].deptId+","+data.rows[i].deptName+"'>"+data.rows[i].deptName+"</option>";
                            }*/
                            $("#orgId").append(opt);
                        }
                    }
                }
            );
        }

        $("#form-conf-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            var reg = /^[1-9]\d*$/; //正整数的正则表达式
            var concurrentValue = parseInt($("#concurrentValue").val());
            if (!reg.test(concurrentValue)) {
                $.modal.alert("并发量必须是大于0的正整数");
                return;
            }
            var surPlusConcurrentValue = parseInt($("#surPlusConcurrentValue").val()) + parseInt($("#waitEditConcurrentValue").val());
            if (concurrentValue > surPlusConcurrentValue) {
                $.modal.alert("并发量不能大于剩余并发量");
                return;
            }
            if($(".robotDefIdAndName:checked").length==0){
                $.modal.alert("请选择话术");
                return;
            }
            var chk_value =[];
            $('input[name="robotDefIdAndName"]:checked').each(function(){
                chk_value.push($(this).val());
            });
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", {
                    id:$("#id").val(),
                    orgIdAndName:$("#orgId").val(),
                    concurrentValue:$("#concurrentValue").val(),
                    robotDefIdAndName:chk_value.join(),
                    startCallTime:$("#startCallTime").val(),
                    endCallTime:$("#endCallTime").val()
                });
                /*$.post(
                    prefix + "/edit",
                    {
                        orgIdAndName:$("#orgId").val(),
                        concurrentValue:$("#concurrentValue").val(),
                        robotDefIdAndName:chk_value.join()
                    },
                    function(data) {
                        // alert(JSON.stringify(data));
                        if (data.code == 0) {//请求成功
                            for (var i = 0; i < data.rows.length; i++) {
                                if (orgIdValue == data.rows[i].deptId) {
                                    var opt = "<option value='"+data.rows[i].deptId+","+data.rows[i].deptName+"' selected>"+data.rows[i].deptName+"</option>";
                                } /!*else {
                                var opt = "<option value='"+data.rows[i].deptId+","+data.rows[i].deptName+"'>"+data.rows[i].deptName+"</option>";
                            }*!/
                                $("#orgId").append(opt);
                            }
                        }
                    }
                );*/
            }
        }
    </script>
</body>
</html>