<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('【规则详情】列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="addFun()" shiro:hasPermission="shareproject:details:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="shareproject:details:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="shareproject:details:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
     <input name="ruleId" id="ruleId" th:value="${ruleId}" type="hidden">
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('shareproject:details:edit')}]];
        var removeFlag = [[${@permission.hasPermi('shareproject:details:remove')}]];
        var prefix = ctx + "shareproject/details";

        function addFun(){
            $.modal.open("添加",  prefix + "/add?id="+$("#ruleId").val());
        }

        $(document).ready(function(){
            function tiaojian(con,conone,contwo) {
                conone = conone==null?'':conone;
                contwo = contwo==null?'':contwo;
             if("0" == con){
                 return '范围:'+conone+'--'+contwo;
             }else if("1" == con){
                 return '大于:'+conone;
             }else if("2" == con){
                 return '小于:'+conone;
             }
            }
            var options = {
                url: prefix + "/list?ruleId="+$("#ruleId").val(),
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "【规则详情】",
                columns: [{
                    checkbox: true
                },
                    {
                        field : 'id',
                        title : '机构名称',
                        visible: false
                    },
                    {
                        title: "序号",
                        field:"",
                        formatter: function (value, row, index) {
                            return $.table.serialNumber(index);
                        }
                    },
                    {
                        field : 'startTime',
                        title : '时间段',
                        formatter: function(value, row, index) {
                            return value +'--'+ row.endTime;
                        }
                    },
                    {
                        field : 'onlineTime',
                        title : '登录',
                        formatter: function(value, row, index) {
                            var infos = "在线时长 "+tiaojian(row.onlineCondition,row.onlineOne,row.onlineTwo);
                            infos += "<br/>退出次数 "+tiaojian(row.outCondition,row.outOne,row.outTwo);
                            infos += "<br/>间隔时长 "+tiaojian(row.intervalsCondition,row.intervalsOne,row.intervalsTwo);
                            return infos;
                        }
                    },
                    {
                        field : 'onlineTime',
                        title : '通话',
                        formatter: function(value, row, index) {
                            var infos = "通话时长 "+tiaojian(row.conversationCondition,row.conversationOne,row.conversationTwo);
                            infos += "<br/>通话次数 "+tiaojian(row.conversationCishuCondition,row.conversationCishuOne,row.conversationCishuTwo);
                            infos += "<br/>接通率 "+tiaojian(row.engRateCondition,row.engRateOne,row.engRateTwo);
                            return infos;
                        }
                    },
                    {
                        field : 'onlineTime',
                        title : '案件',
                        formatter: function(value, row, index) {
                            var infos = "案件处理量 "+tiaojian(row.caseNumbersCondition,row.caseNumbersOne,row.caseNumbersTwo);
                            infos += "<br/>案件处理率 "+tiaojian(row.caseRateCondition,row.caseRateOne,row.caseRateTwo);
                            return infos;
                        }
                    }
                    // {
                    //     field : 'onlineTime',
                    //     title : '还款达成',
                    //     formatter: function(value, row, index) {
                    //         var infos = "实际还款 "+tiaojian(row.sjRepaymentCondition,row.sjRepaymentOne,row.sjRepaymentTwo);
                    //         infos += "<br/>实际还款率 "+tiaojian(row.sjRepaymentRateCondition,row.sjRepaymentRateOne,row.sjRepaymentRateTwo);
                    //         return infos;
                    //     }
                    // }
                    ]
            };
            $.table.init(options);
        });

    </script>
</body>
</html>