<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('站内信列表')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <!--<div class="col-sm-12 search-collapse">-->
            <form id="formId">
                <input type="hidden" id="userId" name="agentId" th:value="${userId}">
                <input type="hidden" id="orgId" name="orgId" th:value="${orgId}">
            </form>
        <!--</div>-->

        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>

    <div class="col-sm-12">
        <div class="modal" id="letterDetail" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content animated bounceInRight">
                    <div class="modal-header" style="text-align: center">
                        <!--<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">关闭</span>
                        </button>-->
                        <p style="font-size: 28px;color:black; text-align: center; display: inline-block; vertical-align: middle; margin: 0px" id="title"></p>
                        <div style="float: right; width: 200px" >
                            <span style="font-size: 15px;color:black; float: right " id="sendBy"></span>
                            <span style="font-size: 15px;color:black; float: right; white-space: pre-wrap" id="sendTime"></span>
                        </div>
                    </div>
                    <div class="modal-body" style="height: 200px;" >
                        <div class="form-group">
                            <span style="font-size: 15px;color:black;" id="content"></span>
                        </div>
                    </div>
                    <div class="modal-footer" style="text-align: center">
                        <button type="button" class="btn btn-primary" onclick="ok();" style="text-align: center">确定</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    var prefix = ctx + "station/letter/agent";

    $(function () {
        var options = {
            url: prefix + "/list",
            modalName: "站内信",
            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: '主键id',
                    visible: false
                },
                {
                    field: '',
                    title: '序号',
                    formatter: function (value, row, index) {
                        return $.table.serialNumber(index);
                    }
                },
                {
                    field: 'title',
                    title: '消息标题'
                },
                {
                    field: 'content',
                    title: '消息内容',
                    formatter: function (value, row, index) {
                        return "<a href='javascript:void(0)' onclick='showDetail(\""+row.id + "\")'>"+subContent(value, 30)+"</a>";
                    }
                },
                {
                    field : 'readStatus',
                    title : '状态',
                    formatter: function (value, row, index) {
                        if (value == 1) {
                            return '<img src="/img/havaRead.png" />已读';
                        } else if (value == 2) {
                            return '<img src="/img/waitRead.png" />未读';
                        } else if (value == 3) {
                            return '<img src="/img/havaRead.png" />已回复';
                        }
                    }
                },
                {
                    field: 'sendUserName',
                    title: '发送人'
                },
                {
                    field: 'sendTime',
                    title: '发送时间'
                }]
        };
        $.table.init(options);
    });

    function showDetail(id) {
        $.get(ctx + "station/letter/agent/letterDetail/"+id,function (data) {
            $("#sendBy").text("发送人：" + data.result.sendUserName);
            $("#title").text(data.result.title);
            $("#content").text(data.result.content);
            $("#sendTime").text(data.result.sendTime);
        })
        $("#letterDetail").modal('show');
    }

    function ok() {
        $("#letterDetail").modal('hide');
        $.table.refresh();
        window.parent.parent.showLetter();
        window.parent.parent.getStationLetter();
    }

    function subContent(value, length) {
        var _length = $.common.isEmpty(length) ? 35 : length;
        var _text = "";
        var _value = $.common.nullToStr(value);
        if (_value.length > _length) {
            _text = _value.substr(0, _length) + "...";
            return _text;
        } else {
            _text = _value;
            return _text;
        }
    }

    function submitHandler() {
        $.modal.close();
    }
</script>
</body>
</html>