<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.report.mapper.TLcReportPersonalMapper">
    
    <resultMap type="com.ruoyi.report.domain.TLcReportPersonal" id="TLcReportPersonalResult">
        <result property="reportData"    column="report_data"    />
        <result property="timePeriod"    column="time_period"    />
        <result property="paCalledNum"    column="pa_called_num"    />
        <result property="paCallLen"    column="pa_call_len"    />
        <result property="paCallNum"    column="pa_call_num"    />
        <result property="zjCalledNum"    column="zj_called_num"    />
        <result property="zjCallLen"    column="zj_call_len"    />
        <result property="zjCallNum"    column="zj_call_num"    />
        <result property="totalCalledNum"    column="total_called_num"    />
        <result property="totalCallLen"    column="total_call_len"    />
        <result property="totalCallNum"    column="total_call_num"    />
        <result property="userGroup"    column="user_group"    />
        <result property="loginName"    column="login_name"    />
        <result property="userName"    column="user_name"    />
    </resultMap>

    <sql id="selectTLcReportPersonalVo">
        select report_data, time_period, pa_called_num, pa_call_len, pa_call_num, zj_called_num, zj_call_len, zj_call_num, total_called_num, total_call_len, total_call_num, user_group, login_name, user_name from t_lc_report_personal
    </sql>

    <select id="selectTLcReportPersonalList" parameterType="com.ruoyi.report.domain.TLcReportPersonal" resultMap="TLcReportPersonalResult">
        <include refid="selectTLcReportPersonalVo"/>
        <where>  
            <if test="reportData != null "> and report_data = #{reportData}</if>
            <if test="timePeriod != null  and timePeriod != ''"> and time_period = #{timePeriod}</if>
            <if test="paCalledNum != null "> and pa_called_num = #{paCalledNum}</if>
            <if test="paCallLen != null  and paCallLen != ''"> and pa_call_len = #{paCallLen}</if>
            <if test="paCallNum != null "> and pa_call_num = #{paCallNum}</if>
            <if test="zjCalledNum != null "> and zj_called_num = #{zjCalledNum}</if>
            <if test="zjCallLen != null  and zjCallLen != ''"> and zj_call_len = #{zjCallLen}</if>
            <if test="zjCallNum != null "> and zj_call_num = #{zjCallNum}</if>
            <if test="totalCalledNum != null "> and total_called_num = #{totalCalledNum}</if>
            <if test="totalCallLen != null  and totalCallLen != ''"> and total_call_len = #{totalCallLen}</if>
            <if test="totalCallNum != null "> and total_call_num = #{totalCallNum}</if>
            <if test="userGroup != null  and userGroup != ''"> and user_group = #{userGroup}</if>
            <if test="loginName != null  and loginName != ''"> and login_name like concat('%', #{loginName}, '%')</if>
            <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
        </where>
		order by user_name,time_period
    </select>

	<select id="selectReportPersonalListByTimePeriod" parameterType="java.util.Map" resultMap="TLcReportPersonalResult">
		select
			#{date} AS report_data,
			su.user_group,
			su.login_name,
			su.user_name,
			#{timePeriod} as time_period,
			MAX(t.pa_called_num) as pa_called_num,
			MAX(t.pa_call_len) as pa_call_len,
			MAX(t.pa_call_num) as pa_call_num,
			MAX(t.zj_called_num) as zj_called_num,
			MAX(t.zj_call_len) as zj_call_len,
			MAX(t.zj_call_num) as zj_call_num
		from(
			select
				CASE t.platform WHEN 'PA' THEN t.called_num END  'pa_called_num',
				CASE t.platform WHEN 'PA' THEN t.call_len END  'pa_call_len',
				CASE t.platform WHEN 'PA' THEN t.call_num END  'pa_call_num',
				CASE t.platform WHEN 'ZJ' THEN t.called_num END  'zj_called_num',
				CASE t.platform WHEN 'ZJ' THEN t.call_len END  'zj_call_len',
				CASE t.platform WHEN 'ZJ' THEN t.call_num END  'zj_call_num',
				t.create_by,
				t.platform
			from(
				SELECT
					re.platform,
					re.create_by,
					COUNT(1) as call_num,
					(SELECT COUNT(1) as thcs FROM t_lc_call_record r WHERE r.create_time BETWEEN #{startTimePeriod} AND #{endTimePeriod} and r.call_len is not null and r.call_len != '' and r.platform = re.platform and r.create_by = re.create_by GROUP BY r.platform,r.create_by ) called_num,
					(SELECT sum(r.call_len) / 1000 / 60 as thsc FROM t_lc_call_record r WHERE r.create_time BETWEEN #{startTimePeriod} AND #{endTimePeriod} and r.call_len is not null and r.call_len != '' and r.platform = re.platform and r.create_by = re.create_by GROUP BY r.platform,r.create_by ) call_len
				FROM t_lc_call_record re WHERE re.create_time BETWEEN #{startTimePeriod} AND #{endTimePeriod} GROUP BY re.platform,re.create_by
			) t GROUP BY t.create_by,t.platform
		)  t,sys_user su where t.create_by = su.user_id  and t.create_by >= 2
		GROUP BY t.create_by order by t.create_by
	</select>

    <select id="selectReportPersonalList" resultMap="TLcReportPersonalResult">
        select
            t.report_data AS report_data,
            t.user_group,
            t.login_name,
            t.user_name,
            t.time_period as time_period,
            MAX(t.pa_called_num) as pa_called_num,
            MAX(t.pa_call_len) as pa_call_len,
            MAX(t.pa_call_num) as pa_call_num,
            MAX(t.zj_called_num) as zj_called_num,
            MAX(t.zj_call_len) as zj_call_len,
            MAX(t.zj_call_num) as zj_call_num
        from(
            select
                CASE t.platform WHEN 'PA' THEN t.called_num END  'pa_called_num',
                CASE t.platform WHEN 'PA' THEN t.call_len END  'pa_call_len',
                CASE t.platform WHEN 'PA' THEN t.call_num END  'pa_call_num',
                CASE t.platform WHEN 'ZJ' THEN t.called_num END  'zj_called_num',
                CASE t.platform WHEN 'ZJ' THEN t.call_len END  'zj_call_len',
                CASE t.platform WHEN 'ZJ' THEN t.call_num END  'zj_call_num',
                t.user_id,
                t.platform,
                t.time_period,
                t.report_data,
                t.user_group,
                t.login_name,
                t.user_name
            from(
                select t.*,su.user_group,su.login_name,su.user_name from t_lc_report_personal_new t,sys_user su
                where t.user_id = su.user_id and t.user_id != 1 and t.report_data = #{reportData}
                <if test="userName != null and userName != ''">
                    and su.user_name = #{userName}
                </if>
            )t GROUP BY t.user_id,t.platform,t.time_period
        ) t GROUP BY t.user_id,t.time_period order by t.user_id
    </select>

    <insert id="insertTLcReportPersonal" parameterType="com.ruoyi.report.domain.TLcReportPersonal">
        insert into t_lc_report_personal
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="reportData != null ">report_data,</if>
            <if test="timePeriod != null  and timePeriod != ''">time_period,</if>
            <if test="paCalledNum != null ">pa_called_num,</if>
            <if test="paCallLen != null  and paCallLen != ''">pa_call_len,</if>
            <if test="paCallNum != null ">pa_call_num,</if>
            <if test="zjCalledNum != null ">zj_called_num,</if>
            <if test="zjCallLen != null  and zjCallLen != ''">zj_call_len,</if>
            <if test="zjCallNum != null ">zj_call_num,</if>
            <if test="totalCalledNum != null ">total_called_num,</if>
            <if test="totalCallLen != null  and totalCallLen != ''">total_call_len,</if>
            <if test="totalCallNum != null ">total_call_num,</if>
            <if test="userGroup != null  and userGroup != ''">user_group,</if>
            <if test="loginName != null  and loginName != ''">login_name,</if>
            <if test="userName != null  and userName != ''">user_name,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="reportData != null ">#{reportData},</if>
            <if test="timePeriod != null  and timePeriod != ''">#{timePeriod},</if>
            <if test="paCalledNum != null ">#{paCalledNum},</if>
            <if test="paCallLen != null  and paCallLen != ''">#{paCallLen},</if>
            <if test="paCallNum != null ">#{paCallNum},</if>
            <if test="zjCalledNum != null ">#{zjCalledNum},</if>
            <if test="zjCallLen != null  and zjCallLen != ''">#{zjCallLen},</if>
            <if test="zjCallNum != null ">#{zjCallNum},</if>
            <if test="totalCalledNum != null ">#{totalCalledNum},</if>
            <if test="totalCallLen != null  and totalCallLen != ''">#{totalCallLen},</if>
            <if test="totalCallNum != null ">#{totalCallNum},</if>
            <if test="userGroup != null  and userGroup != ''">#{userGroup},</if>
            <if test="loginName != null  and loginName != ''">#{loginName},</if>
            <if test="userName != null  and userName != ''">#{userName},</if>
         </trim>
    </insert>
    
</mapper>