<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.report.mapper.TLcReportPlatformMapper">
    
    <resultMap type="com.ruoyi.report.domain.TLcReportPlatform" id="TLcReportPlatformResult">
        <result property="reportData"    column="report_data"    />
        <result property="timePeriod"    column="time_period"    />
        <result property="paCalledNum"    column="pa_called_num"    />
        <result property="paCallLen"    column="pa_call_len"    />
        <result property="paCallNum"    column="pa_call_num"    />
        <result property="zjCalledNum"    column="zj_called_num"    />
        <result property="zjCallLen"    column="zj_call_len"    />
        <result property="zjCallNum"    column="zj_call_num"    />
        <result property="dyCalledNum"    column="dy_called_num"    />
        <result property="dyCallLen"    column="dy_call_len"    />
        <result property="dyCallNum"    column="dy_call_num"    />
        <result property="totalCalledNum"    column="total_called_num"    />
        <result property="totalCallLen"    column="total_call_len"    />
        <result property="totalCallNum"    column="total_call_num"    />
    </resultMap>

    <sql id="selectTLcReportPlatformVo">
        select report_data, time_period, pa_called_num, pa_call_len, pa_call_num, zj_called_num, zj_call_len, zj_call_num, dy_called_num, dy_call_len, dy_call_num, total_called_num, total_call_len, total_call_num from t_lc_report_platform
    </sql>

    <select id="selectTLcReportPlatformList" parameterType="com.ruoyi.report.domain.TLcReportPlatform" resultMap="TLcReportPlatformResult">
        <include refid="selectTLcReportPlatformVo"/>
        <where>  
            <if test="reportData != null "> and report_data = #{reportData}</if>
            <if test="timePeriod != null  and timePeriod != ''"> and time_period = #{timePeriod}</if>
            <if test="paCalledNum != null "> and pa_called_num = #{paCalledNum}</if>
            <if test="paCallLen != null  and paCallLen != ''"> and pa_call_len = #{paCallLen}</if>
            <if test="paCallNum != null "> and pa_call_num = #{paCallNum}</if>
            <if test="zjCalledNum != null "> and zj_called_num = #{zjCalledNum}</if>
            <if test="zjCallLen != null  and zjCallLen != ''"> and zj_call_len = #{zjCallLen}</if>
            <if test="zjCallNum != null "> and zj_call_num = #{zjCallNum}</if>
            <if test="totalCalledNum != null "> and total_called_num = #{totalCalledNum}</if>
            <if test="totalCallLen != null  and totalCallLen != ''"> and total_call_len = #{totalCallLen}</if>
            <if test="totalCallNum != null "> and total_call_num = #{totalCallNum}</if>
        </where>
        order by time_period
    </select>

    <select id="selectReportPlatformList" resultMap="TLcReportPlatformResult">
        select
            t.report_data AS report_data,
            t.time_period as time_period,
            MAX(t.pa_called_num) as pa_called_num,
            MAX(t.pa_call_len) as pa_call_len,
            MAX(t.pa_call_num) as pa_call_num,
            MAX(t.zj_called_num) as zj_called_num,
            MAX(t.zj_call_len) as zj_call_len,
            MAX(t.zj_call_num) as zj_call_num,
            MAX(t.dy_called_num) as dy_called_num,
            MAX(t.dy_call_len) as dy_call_len,
            MAX(t.dy_call_num) as dy_call_num
        from(
            select
                CASE t.platform WHEN 'PA' THEN t.called_num END  'pa_called_num',
                CASE t.platform WHEN 'PA' THEN t.call_len/1000/60 END  'pa_call_len',
                CASE t.platform WHEN 'PA' THEN t.call_num END  'pa_call_num',
                CASE t.platform WHEN 'ZJ' THEN t.called_num END  'zj_called_num',
                CASE t.platform WHEN 'ZJ' THEN t.call_len/1000/60 END  'zj_call_len',
                CASE t.platform WHEN 'ZJ' THEN t.call_num END  'zj_call_num',
                CASE t.platform WHEN 'DY' THEN t.called_num END  'dy_called_num',
                CASE t.platform WHEN 'DY' THEN t.call_len/1000/60 END  'dy_call_len',
                CASE t.platform WHEN 'DY' THEN t.call_num END  'dy_call_num',
                t.report_data,
                t.time_period
            from t_lc_report_platform_new t where t.report_data = #{reportData}
        ) t GROUP BY t.time_period
    </select>

    <insert id="insertTLcReportPlatform" parameterType="com.ruoyi.report.domain.TLcReportPlatform">
        insert into t_lc_report_platform
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="reportData != null ">report_data,</if>
            <if test="timePeriod != null  and timePeriod != ''">time_period,</if>
            <if test="paCalledNum != null ">pa_called_num,</if>
            <if test="paCallLen != null  and paCallLen != ''">pa_call_len,</if>
            <if test="paCallNum != null ">pa_call_num,</if>
            <if test="zjCalledNum != null ">zj_called_num,</if>
            <if test="zjCallLen != null  and zjCallLen != ''">zj_call_len,</if>
            <if test="zjCallNum != null ">zj_call_num,</if>
            <if test="totalCalledNum != null ">total_called_num,</if>
            <if test="totalCallLen != null  and totalCallLen != ''">total_call_len,</if>
            <if test="totalCallNum != null ">total_call_num,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="reportData != null ">#{reportData},</if>
            <if test="timePeriod != null  and timePeriod != ''">#{timePeriod},</if>
            <if test="paCalledNum != null ">#{paCalledNum},</if>
            <if test="paCallLen != null  and paCallLen != ''">#{paCallLen},</if>
            <if test="paCallNum != null ">#{paCallNum},</if>
            <if test="zjCalledNum != null ">#{zjCalledNum},</if>
            <if test="zjCallLen != null  and zjCallLen != ''">#{zjCallLen},</if>
            <if test="zjCallNum != null ">#{zjCallNum},</if>
            <if test="totalCalledNum != null ">#{totalCalledNum},</if>
            <if test="totalCallLen != null  and totalCallLen != ''">#{totalCallLen},</if>
            <if test="totalCallNum != null ">#{totalCallNum},</if>
         </trim>
    </insert>
    
</mapper>