<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.report.mapper.TLcReportPlatformMapper">
    
    <resultMap type="com.ruoyi.report.domain.TLcReportPlatform" id="TLcReportPlatformResult">
        <result property="reportData"    column="report_data"    />
        <result property="timePeriod"    column="time_period"    />
        <result property="paCalledNum"    column="pa_called_num"    />
        <result property="paCallLen"    column="pa_call_len"    />
        <result property="paCallNum"    column="pa_call_num"    />
        <result property="zjCalledNum"    column="zj_called_num"    />
        <result property="zjCallLen"    column="zj_call_len"    />
        <result property="zjCallNum"    column="zj_call_num"    />
        <result property="totalCalledNum"    column="total_called_num"    />
        <result property="totalCallLen"    column="total_call_len"    />
        <result property="totalCallNum"    column="total_call_num"    />
    </resultMap>

    <sql id="selectTLcReportPlatformVo">
        select report_data, time_period, pa_called_num, pa_call_len, pa_call_num, zj_called_num, zj_call_len, zj_call_num, total_called_num, total_call_len, total_call_num from t_lc_report_platform
    </sql>

    <select id="selectTLcReportPlatformList" parameterType="com.ruoyi.report.domain.TLcReportPlatform" resultMap="TLcReportPlatformResult">
        <include refid="selectTLcReportPlatformVo"/>
        <where>  
            <if test="reportData != null "> and report_data = #{reportData}</if>
            <if test="timePeriod != null  and timePeriod != ''"> and time_period = #{timePeriod}</if>
            <if test="paCalledNum != null "> and pa_called_num = #{paCalledNum}</if>
            <if test="paCallLen != null  and paCallLen != ''"> and pa_call_len = #{paCallLen}</if>
            <if test="paCallNum != null "> and pa_call_num = #{paCallNum}</if>
            <if test="zjCalledNum != null "> and zj_called_num = #{zjCalledNum}</if>
            <if test="zjCallLen != null  and zjCallLen != ''"> and zj_call_len = #{zjCallLen}</if>
            <if test="zjCallNum != null "> and zj_call_num = #{zjCallNum}</if>
            <if test="totalCalledNum != null "> and total_called_num = #{totalCalledNum}</if>
            <if test="totalCallLen != null  and totalCallLen != ''"> and total_call_len = #{totalCallLen}</if>
            <if test="totalCallNum != null "> and total_call_num = #{totalCallNum}</if>
        </where>
    </select>

    <select id="selectReportPlatformList" parameterType="java.util.Map" resultMap="TLcReportPlatformResult">
        select a.time as time_period,b.*
            from (
                    select '0-9'   as time from dual union all
                    select '09-10' as time from dual union all
                    select '10-11' as time from dual union all
                    select '11-12' as time from dual union all
                    select '12-13' as time from dual union all
                    select '13-14' as time from dual union all
                    select '14-15' as time from dual union all
                    select '15-16' as time from dual union all
                    select '16-17' as time from dual union all
                    select '17-18' as time from dual union all
                    select '18-19' as time from dual union all
                    select '19-20' as time from dual union all
                    select '20-24' as time from dual
            ) a LEFT JOIN (
                select
                    #{date} AS report_data,
                    t.time_period as time_period,
                    MAX(t.pa_called_num) as pa_called_num,
                    MAX(t.pa_call_len) as pa_call_len,
                    MAX(t.pa_call_num) as pa_call_num,
                    MAX(t.zj_called_num) as zj_called_num,
                    MAX(t.zj_call_len) as zj_call_len,
                    MAX(t.zj_call_num) as zj_call_num,
                    IFNULL(MAX(t.pa_called_num),0) + IFNULL(MAX(t.zj_called_num),0) as total_called_num,
                    IFNULL(MAX(t.pa_call_len),0) + IFNULL(MAX(t.zj_call_len),0) as total_call_len,
                    IFNULL(MAX(t.pa_call_num),0) + IFNULL(MAX(t.zj_call_num),0) as total_call_num
                from(
                    select
                            t.time_period,
                            CASE t.platform WHEN 'PA' THEN t.called_num END  'pa_called_num',
                            CASE t.platform WHEN 'PA' THEN t.call_len END  'pa_call_len',
                            CASE t.platform WHEN 'PA' THEN t.call_num END  'pa_call_num',
                            CASE t.platform WHEN 'ZJ' THEN t.called_num END  'zj_called_num',
                            CASE t.platform WHEN 'ZJ' THEN t.call_len END  'zj_call_len',
                            CASE t.platform WHEN 'ZJ' THEN t.call_num END  'zj_call_num'
                        from(
                            select a.call_num,a.time_period,b.call_len,b.called_num,a.platform from (
                            SELECT
                                case when DATE_FORMAT(create_time, '%H' ) in (0,1,2,3,4,5,6,7,8) then '0-9'
                                when DATE_FORMAT(create_time, '%H' ) in (9) then '09-10'
                                when DATE_FORMAT(create_time, '%H' ) in (20,21,22,23) then '20-24'
                                else CONCAT(DATE_FORMAT(create_time, '%H' ) + 0,'-',DATE_FORMAT(create_time, '%H' ) + 1) end as time_period,
                                COUNT(1) as call_num,
                                platform
                            FROM
                                t_lc_call_record
                            where create_time BETWEEN CONCAT(#{date},' 00:00:00') AND CONCAT(#{date},' 23:59:59')
                            GROUP BY
                                time_period ,platform) a LEFT JOIN(
                            SELECT
                                case when DATE_FORMAT(create_time, '%H' ) in (0,1,2,3,4,5,6,7,8) then '0-9'
                                when DATE_FORMAT(create_time, '%H' ) in (9) then '09-10'
                                when DATE_FORMAT(create_time, '%H' ) in (20,21,22,23) then '20-24'
                                else CONCAT(DATE_FORMAT(create_time, '%H' ) + 0,'-',DATE_FORMAT(create_time, '%H' ) + 1) end as time_period,
                                COUNT(1) as called_num,
                                sum(call_len/1000/60) as call_len,
                                platform
                            FROM
                                t_lc_call_record
                            where create_time BETWEEN CONCAT(#{date},' 00:00:00') AND CONCAT(#{date},' 23:59:59') and call_len is not null and call_len != ''
                            GROUP BY
                                time_period ,platform) b on a.time_period = b.time_period and a.platform = b.platform
                    ) t
                ) t GROUP BY t.time_period
            ) b ON a.time = b.time_period
    </select>

    <insert id="insertTLcReportPlatform" parameterType="com.ruoyi.report.domain.TLcReportPlatform">
        insert into t_lc_report_platform
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="reportData != null ">report_data,</if>
            <if test="timePeriod != null  and timePeriod != ''">time_period,</if>
            <if test="paCalledNum != null ">pa_called_num,</if>
            <if test="paCallLen != null  and paCallLen != ''">pa_call_len,</if>
            <if test="paCallNum != null ">pa_call_num,</if>
            <if test="zjCalledNum != null ">zj_called_num,</if>
            <if test="zjCallLen != null  and zjCallLen != ''">zj_call_len,</if>
            <if test="zjCallNum != null ">zj_call_num,</if>
            <if test="totalCalledNum != null ">total_called_num,</if>
            <if test="totalCallLen != null  and totalCallLen != ''">total_call_len,</if>
            <if test="totalCallNum != null ">total_call_num,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="reportData != null ">#{reportData},</if>
            <if test="timePeriod != null  and timePeriod != ''">#{timePeriod},</if>
            <if test="paCalledNum != null ">#{paCalledNum},</if>
            <if test="paCallLen != null  and paCallLen != ''">#{paCallLen},</if>
            <if test="paCallNum != null ">#{paCallNum},</if>
            <if test="zjCalledNum != null ">#{zjCalledNum},</if>
            <if test="zjCallLen != null  and zjCallLen != ''">#{zjCallLen},</if>
            <if test="zjCallNum != null ">#{zjCallNum},</if>
            <if test="totalCalledNum != null ">#{totalCalledNum},</if>
            <if test="totalCallLen != null  and totalCallLen != ''">#{totalCallLen},</if>
            <if test="totalCallNum != null ">#{totalCallNum},</if>
         </trim>
    </insert>
    
</mapper>