<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('查看')" />
    <th:block th:include="include :: layui-css" />
  <style>
      .layui-card-body{
          height: 80px;
      }
      .layui-col-md2{
          width:200px;
      }
      .layui-card-body span{
          font-size: 17px;
      }
  </style>
</head>
<body >
<form class="form-horizontal m" id="form-logs-edit" th:object="${tLjRuleUserLogs}">
<div class="layui-container">
    <div class="layui-row" style="font-size: 20px;">
        <div class="layui-col-md4">
            <div class="grid-demo grid-demo-bg1">
                项目名称：<span th:text="*{userName}" ></span>
            </div>
        </div>
        <div class="layui-col-md4">
            日期：<span th:text="${#dates.format(tLjRuleUserLogs.days, 'yyyy-MM-dd')}" ></span>
        </div>
        <div class="layui-col-md4">
            <div class="grid-demo grid-demo-bg1">
                规则作用时间：<span th:text="*{startTime}" ></span>-<span th:text="*{endTime}" ></span>
            </div>
        </div>
    </div>
</div>


    <div style="padding: 10px; background-color: #A9CFEE;">
        <div class="layui-row layui-col-space15 ">
            <div class="layui-col-md2" >
                <div class="layui-card">
                    <div class="layui-card-header">当日异常数</div>
                    <div class="layui-card-body " >
                        <span style="font-size: 30px" th:text="*{errors}" ></span>
                    </div>
                </div>
            </div>
            <div class="layui-col-md2" >
                <div class="layui-card">
                    <div class="layui-card-header">案件异常</div>
                    <div class="layui-card-body ">
                       <span style="font-size: 30px" th:text="*{anjianZong}" ></span>
                    </div>
                </div>
            </div>
            <div class="layui-col-md2" >
                <div class="layui-card">
                    <div class="layui-card-header">还款达成异常</div>
                    <div class="layui-card-body " >
                        <span style="font-size: 30px" th:text="*{huankuanZong}" ></span>
                    </div>
                </div>
            </div>
            <div class="layui-col-md2" >
                <div class="layui-card">
                    <div class="layui-card-header">通话异常</div>
                    <div class="layui-card-body ">
                        <span style="font-size: 30px" th:text="*{tonghuaZong}" ></span>
                    </div>
                </div>
            </div>
            <div class="layui-col-md2" >
                <div class="layui-card">
                    <div class="layui-card-header">登录异常</div>
                    <div class="layui-card-body " >
                        <span style="font-size: 30px" th:text="*{loginZong}" ></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="padding: 10px; background-color: #A9CFEE;">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md2">
                <div class="layui-card">
                    <div class="layui-card-header">案件处理量(件):<span th:text="*{anjianDuration}" ></span></div>
                    <div class="layui-card-body">
                        <span th:if="*{anjianDurationZhibiao eq   1}" style="color: red"><span  th:text="*{anjianDurationBaifen}"></span>高于指标</span>
                        <span th:if="*{anjianDurationZhibiao eq   -1}" style="color: green"><span  th:text="*{anjianDurationBaifen}"></span>低于指标</span>
                        <span th:if="*{anjianDurationZhibiao eq   0}" style="color: green"><span  th:text="*{anjianDurationBaifen}"></span>正常</span>
                    </div>
                </div>
            </div>
            <div class="layui-col-md2">
                <div class="layui-card">
                    <div class="layui-card-header">案件处理率(%):<span th:text="*{anjianlv}" ></span></div>
                    <div class="layui-card-body">
                        <span th:if="*{anjianyichuliZhibiao eq   1}" style="color: red"><span  th:text="*{anjianyichuliBaifen}"></span>高于指标</span>
                        <span th:if="*{anjianyichuliZhibiao eq   -1}" style="color: green"><span  th:text="*{anjianyichuliBaifen}"></span>低于指标</span>
                        <span th:if="*{anjianyichuliZhibiao eq   0}" style="color: green"><span  th:text="*{anjianyichuliBaifen}"></span>正常</span>
                    </div>
                </div>
            </div>
            <div class="layui-col-md2">
                <div class="layui-card">
                    <div class="layui-card-header">实际还款(元)<span th:text="*{shiji}" ></span></div>
                    <div class="layui-card-body">
                        <span th:if="*{yinghuanZhibiao eq   1}" style="color: red"><span  th:text="*{yinghuanBaifen}"></span>高于指标</span>
                        <span th:if="*{yinghuanZhibiao eq   -1}" style="color: green"><span  th:text="*{yinghuanBaifen}"></span>低于指标</span>
                        <span th:if="*{yinghuanZhibiao eq   0}" style="color: green"><span  th:text="*{yinghuanBaifen}"></span>正常</span>
                    </div>
                </div>
            </div>
            <div class="layui-col-md2">
                <div class="layui-card">
                    <div class="layui-card-header">实际还款率(%):<span th:text="*{shijilv}" ></span></div>
                    <div class="layui-card-body">
                        <span th:if="*{shijiZhibiao eq   1}" style="color: red"><span  th:text="*{shijiBaifen}"></span>高于指标</span>
                        <span th:if="*{shijiZhibiao eq   -1}" style="color: green"><span  th:text="*{shijiBaifen}"></span>低于指标</span>
                        <span th:if="*{shijiZhibiao eq   0}" style="color: green"><span  th:text="*{shijiBaifen}"></span>正常</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="padding: 10px; background-color: #A9CFEE;">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md2">
                <div class="layui-card">
                    <div class="layui-card-header">通话时长(分):<span th:text="*{tonghuaDuration}" ></span></div>
                    <div class="layui-card-body">
                        <span th:if="*{tonghuaDurationZhibiao eq   1}" style="color: red"><span  th:text="*{tonghuaDurationBaifen}"></span>高于指标</span>
                        <span th:if="*{tonghuaDurationZhibiao eq   -1}" style="color: green"><span  th:text="*{tonghuaDurationBaifen}"></span>低于指标</span>
                        <span th:if="*{tonghuaDurationZhibiao eq   0}" style="color: green"><span  th:text="*{tonghuaDurationBaifen}"></span>正常</span>
                    </div>
                </div>
            </div>
            <div class="layui-col-md2">
                <div class="layui-card">
                    <div class="layui-card-header">通话次数(次):<span th:text="*{tonghuacs}" ></span></div>
                    <div class="layui-card-body">
                        <span th:if="*{tonghuacsZhibiao eq   1}" style="color: red"><span  th:text="*{tonghuacsBaifen}"></span>高于指标</span>
                        <span th:if="*{tonghuacsZhibiao eq   -1}" style="color: green"><span  th:text="*{tonghuacsBaifen}"></span>低于指标</span>
                        <span th:if="*{tonghuacsZhibiao eq   0}" style="color: green"><span  th:text="*{tonghuacsBaifen}"></span>正常</span>
                    </div>
                </div>
            </div>
            <div class="layui-col-md2">
                <div class="layui-card">
                    <div class="layui-card-header">接通率(%):<span th:text="*{jietonglv}" ></span></div>
                    <div class="layui-card-body">
                        <span th:if="*{jietongcsZhibiao eq   1}" style="color: red"><span  th:text="*{jietongcsBaifen}"></span>高于指标</span>
                        <span th:if="*{jietongcsZhibiao eq   -1}" style="color: green"><span  th:text="*{jietongcsBaifen}"></span>低于指标</span>
                        <span th:if="*{jietongcsZhibiao eq   0}" style="color: green"><span  th:text="*{jietongcsBaifen}"></span>正常</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="padding: 10px; background-color: #A9CFEE;">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md2">
                <div class="layui-card">
                    <div class="layui-card-header">在线时长(分):<span th:text="*{onlineTime}" ></span></div>
                    <div class="layui-card-body">
                        <span th:if="*{onlineZhibiao eq   1}" style="color: red"><span  th:text="*{onlineBaifen}"></span>高于指标</span>
                        <span th:if="*{onlineZhibiao eq   -1}" style="color: green"><span  th:text="*{onlineBaifen}"></span>低于指标</span>
                        <span th:if="*{onlineZhibiao eq   0}" style="color: green"><span  th:text="*{onlineBaifen}"></span>正常</span>
                    </div>
                </div>
            </div>
            <div class="layui-col-md2">
                <div class="layui-card">
                    <div class="layui-card-header">退出次数(次):<span th:text="*{outCishu}" ></span></div>
                    <div class="layui-card-body">
                        <span th:if="*{outCishuZhibiao eq   1}" style="color: red"><span  th:text="*{outCishuBaifen}"></span>高于指标</span>
                        <span th:if="*{outCishuZhibiao eq   -1}" style="color: green"><span  th:text="*{outCishuBaifen}"></span>低于指标</span>
                        <span th:if="*{outCishuZhibiao eq   0}" style="color: green"><span  th:text="*{outCishuBaifen}"></span>正常</span>
                    </div>
                </div>
            </div>
            <div class="layui-col-md2">
                <div class="layui-card">
                    <div class="layui-card-header">间隔时长(分):<span th:text="*{jiange}" ></span></div>
                    <div class="layui-card-body">
                        <span th:if="*{jiangeZhibiao eq   1}" style="color: red"><span  th:text="*{jiangeBaifen}"></span>高于指标</span>
                        <span th:if="*{jiangeZhibiao eq   -1}" style="color: green"><span  th:text="*{jiangeBaifen}"></span>低于指标</span>
                        <span th:if="*{jiangeZhibiao eq   0}" style="color: green"><span  th:text="*{jiangeBaifen}"></span>正常</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "ruoyi/logs";
        $("#form-logs-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-logs-edit').serialize());
            }
        }

    </script>
</body>
</html>