<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('查看')" />
    <th:block th:include="include :: layui-css" />
  <style>


  </style>
</head>
<body >
<form class="form-horizontal m" id="form-logs-edit" th:object="${tLjRuleUserLogs}">
<div class="layui-container">
    <div class="layui-row" style="font-size: 14px;">
        <div class="layui-col-md4">
            <div class="grid-demo grid-demo-bg1">
                员工姓名：<span th:text="*{userName}" ></span>
            </div>
        </div>
        <div class="layui-col-md4">
            日期：<span th:text="${#dates.format(tLjRuleUserLogs.days, 'yyyy-MM-dd')}" ></span>
        </div>
        <div class="layui-col-md4">
            <div class="grid-demo grid-demo-bg1">
                规则作用时间：<span th:text="*{startTime}" ></span>-<span th:text="*{endTime}" ></span>
            </div>
        </div>
    </div>
</div>


    <div style="padding: 3px; background-color: #F3F3F4;">
        <div class="layui-row layui-col-space15 ">
            <div class="layui-col-md2" >
                    <div class="layui-card">
                        <div class="layui-card-body" >
                            <div style="width: 200px;height:80px;">
                                <div style="margin-top:15px;float: left"> <img th:src="@{/img/hm_1.png}"   style="width: 50px;height: 50px;float: left"></div>
                                <div style="float: left;margin-left:10px;margin-top:10px;">
                                    <div style="width:130px;height:8px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;font-size:12.5px;height:30px;">当日异常(次)</div>
                                    <div style="font-size:20px;font-weight:bold" th:text="*{errors}"></div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>

            <div class="layui-col-md2" >
                <div class="layui-card">
                    <div class="layui-card-body" >
                        <div style="width: 200px;height:80px;">
                            <div style="float: left;margin-left:10px;margin-top:10px;">
                                <div style="width:130px;height:8px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;font-size:8px;height:30px;"><img th:src="@{/img/hm_11.png}" style="width: 12px;height: 12px;font-size:12.5px" ></img>案件异常</div>
                                <div style="font-size:20px;font-weight:bold" th:text="*{anjianZong}"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-col-md2" >
                <div class="layui-card">
                    <div class="layui-card-body" >
                        <div style="width: 200px;height:80px;">
                            <div style="float: left;margin-left:10px;margin-top:10px;">
                                <div style="width:130px;height:8px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;font-size:12.5px;height:30px;"><img th:src="@{/img/hm_11.png}" style="width: 12px;height: 12px;" ></img>还款达成异常</div>
                                <div style="font-size:20px;font-weight:bold" th:text="*{huankuanZong}"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-md2" >
                <div class="layui-card">
                    <div class="layui-card-body" >
                        <div style="width: 200px;height:80px;">
                            <div style="float: left;margin-left:10px;margin-top:10px;">
                                <div style="width:130px;height:8px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;font-size:12.5px;height:30px;"><img th:src="@{/img/hm_12.png}" style="width: 12px;height: 12px;" ></img>通话异常</div>
                                <div style="font-size:20px;font-weight:bold" th:text="*{tonghuaZong}"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-md2" >
                <div class="layui-card">
                    <div class="layui-card-body" >
                        <div style="width: 200px;height:80px;">
                            <div style="float: left;margin-left:10px;margin-top:10px;">
                                <div style="width:130px;height:8px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;font-size:12.5px;height:30px;"><img th:src="@{/img/hm_13.png}" style="width: 12px;height: 12px;" ></img>登录异常</div>
                                <div style="font-size:20px;font-weight:bold" th:text="*{loginZong}"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <br/>
    <div style="padding: 3px; background-color: #F3F3F4;">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md2">
                <div class="layui-card">
                    <div class="layui-card-body" >
                        <div style="width: 200px;height:80px;">
                            <div style="margin-top:15px;float: left"> <img th:src="@{/img/hm_2.png}"   style="width: 50px;height: 50px;float: left"></div>
                            <div style="float: left;margin-left:10px;margin-top:5px;">
                                <div style="width:130px;height:8px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;font-size:12.5px;height:30px;">案件处理量(件)</div>
                                <div style="font-size:20px;font-weight:bold" th:text="*{anjianDuration}"></div>
                                <div style="font-size:5px;" >
                                    <span th:if="*{anjianDurationZhibiao eq   1}" style="color: red"><img th:src="@{/img/hms2.png}" style="width: 7px;height:7px;" ></img>&nbsp;<span  th:text="*{anjianDurationBaifen}"></span>%高于指标</span>
                                    <span th:if="*{anjianDurationZhibiao eq   -1}" style="color: red"><img th:src="@{/img/hms1.png}" style="width: 7px;height: 7px;" ></img>&nbsp;<span  th:text="*{anjianDurationBaifen}"></span>%低于指标</span>
                                    <span th:if="*{anjianDurationZhibiao eq   0}" style="color: green"><img th:src="@{/img/hms2.png}" style="width: 7px;height: 7px;" ></img>&nbsp;<span  th:text="*{anjianDurationBaifen}"></span>%正常</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="layui-col-md2">
                <div class="layui-card">
                    <div class="layui-card-body" >
                        <div style="width: 200px;height:80px;">
                            <div style="float: left;margin-left:10px;margin-top:5px;">
                                <div style="width:130px;height:8px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;font-size:12.5px;height:30px;">案件处理率(%)</div>
                                <div style="font-size:20px;font-weight:bold" th:text="*{anjianlv}"></div>
                                <div style="font-size:5px;" >
                                    <span th:if="*{anjianyichuliZhibiao eq   1}" style="color: red"><img th:src="@{/img/hms2.png}" style="width: 7px;height:7px;" ></img>&nbsp;<span  th:text="*{anjianyichuliBaifen}"></span>%高于指标</span>
                                    <span th:if="*{anjianyichuliZhibiao eq   -1}" style="color: red"><img th:src="@{/img/hms1.png}" style="width: 7px;height:7px;" ></img>&nbsp;<span  th:text="*{anjianyichuliBaifen}"></span>%低于指标</span>
                                    <span th:if="*{anjianyichuliZhibiao eq   0}" style="color: green"><img th:src="@{/img/hms2.png}" style="width: 7px;height:7px;" ></img>&nbsp;<span  th:text="*{anjianyichuliBaifen}"></span>%正常</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="layui-col-md2">

                <div class="layui-card">
                    <div class="layui-card-body" >
                        <div style="width: 200px;height:80px;">
                            <div style="float: left;margin-left:10px;margin-top:5px;">
                                <div style="width:130px;height:8px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;font-size:12.5px;height:30px;">实际还款(元)</div>
                                <div style="font-size:20px;font-weight:bold" th:text="*{shiji}"></div>
                                <div style="font-size:5px;" >
                                    <span th:if="*{yinghuanZhibiao eq   1}" style="color: red"><img th:src="@{/img/hms2.png}" style="width: 7px;height:7px;" ></img>&nbsp;<span  th:text="*{yinghuanBaifen}"></span>%高于指标</span>
                                    <span th:if="*{yinghuanZhibiao eq   -1}" style="color: red"><img th:src="@{/img/hms1.png}" style="width: 7px;height:7px;" ></img>&nbsp;<span  th:text="*{yinghuanBaifen}"></span>%低于指标</span>
                                    <span th:if="*{yinghuanZhibiao eq   0}" style="color: green"><img th:src="@{/img/hms2.png}" style="width: 7px;height:7px;" ></img>&nbsp;<span  th:text="*{yinghuanBaifen}"></span>%正常</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="layui-col-md2">

                <div class="layui-card">
                    <div class="layui-card-body" >
                        <div style="width: 200px;height:80px;">
                            <div style="float: left;margin-left:10px;margin-top:5px;">
                                <div style="width:130px;height:8px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;font-size:12.5px;height:30px;">实际还款率(%)</div>
                                <div style="font-size:20px;font-weight:bold" th:text="*{shijilv}"></div>
                                <div style="font-size:5px;" >
                                    <span th:if="*{shijiZhibiao eq   1}" style="color: red"><img th:src="@{/img/hms2.png}" style="width: 7px;height:7px;" ></img>&nbsp;<span  th:text="*{shijiBaifen}"></span>%高于指标</span>
                                    <span th:if="*{shijiZhibiao eq   -1}" style="color: red"><img th:src="@{/img/hms1.png}" style="width: 7px;height:7px;" ></img>&nbsp;<span  th:text="*{shijiBaifen}"></span>%低于指标</span>
                                    <span th:if="*{shijiZhibiao eq   0}" style="color: green"><img th:src="@{/img/hms2.png}" style="width: 7px;height:7px;" ></img>&nbsp;<span  th:text="*{shijiBaifen}"></span>%正常</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div style="padding: 3px; background-color: #F3F3F4;">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md2">

                <div class="layui-card">
                    <div class="layui-card-body" >
                        <div style="width: 200px;height:80px;">
                            <div style="margin-top:15px;float: left"> <img th:src="@{/img/hm_3.png}"   style="width: 50px;height: 50px;float: left"></div>
                            <div style="float: left;margin-left:10px;margin-top:5px;">
                                <div style="width:130px;height:8px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;font-size:12.5px;height:30px;">通话时长(分)</div>
                                <div style="font-size:20px;font-weight:bold" th:text="*{tonghuaDurationStr}"></div>
                                <div style="font-size:5px;" >
                                    <span th:if="*{tonghuaDurationZhibiao eq   1}" style="color: red"><img th:src="@{/img/hms2.png}" style="width: 7px;height:7px;" ></img>&nbsp;<span  th:text="*{tonghuaDurationBaifen}"></span>%高于指标</span>
                                    <span th:if="*{tonghuaDurationZhibiao eq   -1}" style="color: red"><img th:src="@{/img/hms1.png}" style="width: 7px;height:7px;" ></img>&nbsp;<span  th:text="*{tonghuaDurationBaifen}"></span>%低于指标</span>
                                    <span th:if="*{tonghuaDurationZhibiao eq   0}" style="color: green"><img th:src="@{/img/hms2.png}" style="width: 7px;height:7px;" ></img>&nbsp;<span  th:text="*{tonghuaDurationBaifen}"></span>%正常</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="layui-col-md2">

                <div class="layui-card">
                    <div class="layui-card-body" >
                        <div style="width: 200px;height:80px;">
                            <div style="margin-top:15px;float: left"> <img th:src="@{/img/hm_4.png}"   style="width: 50px;height: 50px;float: left"></div>
                            <div style="float: left;margin-left:10px;margin-top:5px;">
                                <div style="width:130px;height:8px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;font-size:12.5px;height:30px;">通话次数(次)</div>
                                <div style="font-size:20px;font-weight:bold" th:text="*{tonghuacs}"></div>
                                <div style="font-size:5px;" >
                                    <span th:if="*{tonghuacsZhibiao eq   1}" style="color: red"><img th:src="@{/img/hms2.png}" style="width: 7px;height:7px;" ></img>&nbsp;<span  th:text="*{tonghuacsBaifen}"></span>%高于指标</span>
                                    <span th:if="*{tonghuacsZhibiao eq   -1}" style="color: red"><img th:src="@{/img/hms1.png}" style="width: 7px;height:7px;" ></img>&nbsp;<span  th:text="*{tonghuacsBaifen}"></span>%低于指标</span>
                                    <span th:if="*{tonghuacsZhibiao eq   0}" style="color: green"><img th:src="@{/img/hms2.png}" style="width: 7px;height:7px;" ></img>&nbsp;<span  th:text="*{tonghuacsBaifen}"></span>%正常</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="layui-col-md2">

                <div class="layui-card">
                    <div class="layui-card-body" >
                        <div style="width: 200px;height:80px;">
                            <div style="margin-top:15px;float: left"> <img th:src="@{/img/hm_5.png}"   style="width: 50px;height: 50px;float: left"></div>
                            <div style="float: left;margin-left:10px;margin-top:5px;">
                                <div style="width:130px;height:8px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;font-size:12.5px;height:30px;">接通率(%)</div>
                                <div style="font-size:20px;font-weight:bold" th:text="*{jietonglv}"></div>
                                <div style="font-size:5px;" >
                                    <span th:if="*{jietongcsZhibiao eq   1}" style="color: red"><img th:src="@{/img/hms2.png}" style="width: 7px;height:7px;" ></img>&nbsp;<span  th:text="*{jietongcsBaifen}"></span>%高于指标</span>
                                    <span th:if="*{jietongcsZhibiao eq   -1}" style="color: red"><img th:src="@{/img/hms1.png}" style="width: 7px;height:7px;" ></img>&nbsp;<span  th:text="*{jietongcsBaifen}"></span>%低于指标</span>
                                    <span th:if="*{jietongcsZhibiao eq   0}" style="color: green"><img th:src="@{/img/hms2.png}" style="width: 7px;height:7px;" ></img>&nbsp;<span  th:text="*{jietongcsBaifen}"></span>%正常</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div style="padding: 3px; background-color: #F3F3F4;">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md2">

                <div class="layui-card">
                    <div class="layui-card-body" >
                        <div style="width: 200px;height:80px;">
                            <div style="margin-top:15px;float: left"> <img th:src="@{/img/hm_6.png}"   style="width: 50px;height: 50px;float: left"></div>
                            <div style="float: left;margin-left:10px;margin-top:5px;">
                                <div style="width:130px;height:8px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;font-size:12.5px;height:30px;"><img th:src="@{/img/hm_61.png}" style="width: 12px;height: 12px;" >在线时长(分)</div>
                                <div style="font-size:20px;font-weight:bold" th:text="*{onlineTimeStr}"></div>
                                <div style="font-size:5px;" >
                                    <span th:if="*{onlineZhibiao eq   1}" style="color: red"><img th:src="@{/img/hms2.png}" style="width: 7px;height:7px;" ></img>&nbsp;<span  th:text="*{onlineBaifen}"></span>%高于指标</span>
                                    <span th:if="*{onlineZhibiao eq   -1}" style="color: red"><img th:src="@{/img/hms1.png}" style="width: 7px;height:7px;" ></img>&nbsp;<span  th:text="*{onlineBaifen}"></span>%低于指标</span>
                                    <span th:if="*{onlineZhibiao eq   0}" style="color: green"><img th:src="@{/img/hms2.png}" style="width: 7px;height:7px;" ></img>&nbsp;<span  th:text="*{onlineBaifen}"></span>%正常</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="layui-col-md2">

                <div class="layui-card">
                    <div class="layui-card-body" >
                        <div style="width: 200px;height:80px;">
                            <div style="float: left;margin-left:10px;margin-top:5px;">
                                <div style="width:130px;height:8px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;font-size:12.5px;height:30px;"><img th:src="@{/img/hm_12.png}" style="width: 12px;height: 12px;" >退出次数(次)</div>
                                <div style="font-size:20px;font-weight:bold" th:text="*{outCishu}"></div>
                                <div style="font-size:5px;" >
                                    <span th:if="*{outCishuZhibiao eq   1}" style="color: red"><img th:src="@{/img/hms2.png}" style="width: 7px;height:7px;" ></img>&nbsp;<span  th:text="*{outCishuBaifen}"></span>%高于指标</span>
                                    <span th:if="*{outCishuZhibiao eq   -1}" style="color: red"><img th:src="@{/img/hms1.png}" style="width: 7px;height:7px;" ></img>&nbsp;<span  th:text="*{outCishuBaifen}"></span>%低于指标</span>
                                    <span th:if="*{outCishuZhibiao eq   0}" style="color: green"><img th:src="@{/img/hms2.png}" style="width: 7px;height:7px;" ></img>&nbsp;<span  th:text="*{outCishuBaifen}"></span>%正常</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="layui-col-md2">
                <div class="layui-card">
                    <div class="layui-card-body" >
                        <div style="width: 200px;height:80px;">
                            <div style="float: left;margin-left:10px;margin-top:5px;">
                                <div style="width:130px;height:8px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;font-size:12.5px;height:30px;"><img th:src="@{/img/hm_62.png}" style="width: 12px;height: 12px;" >间隔时长(分)</div>
                                <div style="font-size:20px;font-weight:bold" th:text="*{jiangeStr}"></div>
                                <div style="font-size:5px;" >
                                    <span th:if="*{jiangeZhibiao eq   1}" style="color: red"><img th:src="@{/img/hms2.png}" style="width: 7px;height:7px;" ></img>&nbsp;<span  th:text="*{jiangeBaifen}"></span>%高于指标</span>
                                    <span th:if="*{jiangeZhibiao eq   -1}" style="color: red"><img th:src="@{/img/hms1.png}" style="width: 7px;height:7px;" ></img>&nbsp;<span  th:text="*{jiangeBaifen}"></span>%低于指标</span>
                                    <span th:if="*{jiangeZhibiao eq   0}" style="color: green"><img th:src="@{/img/hms2.png}" style="width: 7px;height:7px;" ></img>&nbsp;<span  th:text="*{jiangeBaifen}"></span>%正常</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "ruoyi/logs";
        $("#form-logs-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-logs-edit').serialize());
            }
        }

    </script>
</body>
</html>