<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.report.mapper.TLcReportDayProcessMapper">

    <resultMap type="com.ruoyi.report.domain.TLcReportDayProcess" id="TLcReportDayProcessResult">
        <result property="id" column="id"/>
        <result property="reportDate" column="report_date"/>
        <result property="seatGroup" column="seat_group"/>
        <result property="seatNum" column="seat_num"/>
        <result property="seatName" column="seat_name"/>
        <result property="dealWithConsumerCount" column="deal_with_consumer_count"/>
        <result property="actionCodeNum" column="action_code_num"/>
        <result property="callCodeNum" column="call_code_num"/>
        <result property="callActionCodeRecovery" column="call_action_code_recovery"/>
        <result property="averageCallCode" column="average_call_code"/>
        <result property="averageActionCode" column="average_action_code"/>
        <result property="callLen" column="call_len"/>
        <result property="selfEffectiveCallCodeNum" column="self_effective_call_code_num"/>
        <result property="thirdEffectiveCallCodeNum" column="third_effective_call_code_num"/>
        <result property="averageEffectiveCallCodeNum" column="average_effective_call_code_num"/>
        <result property="callConnectedRecovery" column="call_connected_recovery"/>
        <result property="complaintNum" column="complaint_num"/>
        <result property="orgId" column="org_id"/>
        <result property="orgName" column="org_name"/>
        <result property="userCoverNum"    column="user_cover_num"    />
        <result property="callNum"    column="call_num"    />
        <result property="connectedCallNum"    column="connected_call_num"    />
        <result property="collingCaseMoney" column="colling_case_money"/>
        <result property="averageCallCode" column="average_call_code"/>
        <result property="amountDueSum" column="amount_due_sum"/>
        <result property="amountActualSum" column="amount_actual_sum"/>
    </resultMap>

    <sql id="selectTLcReportDayProcessVo">
        select id, report_date, seat_group, seat_num, seat_name, deal_with_consumer_count, action_code_num, call_code_num, call_action_code_recovery, average_call_code, average_action_code, call_len, self_effective_call_code_num, third_effective_call_code_num, average_effective_call_code_num, call_connected_recovery, complaint_num, org_id, org_name, user_cover_num, call_num, connected_call_num, colling_case_money from t_lc_report_day_process
    </sql>

    <select id="selectTLcReportDayProcessList" parameterType="com.ruoyi.report.domain.TLcReportDayProcess"
            resultMap="TLcReportDayProcessResult">
        <include refid="selectTLcReportDayProcessVo"/>
        <where>
            <if test="reportDate != null ">and report_date = #{reportDate}</if>
            <if test="seatGroup != null  and seatGroup != ''">and seat_group = #{seatGroup}</if>
            <if test="seatNum != null  and seatNum != ''">and seat_num = #{seatNum}</if>
            <if test="seatName != null  and seatName != ''">and seat_name like concat('%', #{seatName}, '%')</if>
            <if test="dealWithConsumerCount != null ">and deal_with_consumer_count = #{dealWithConsumerCount}</if>
            <if test="actionCodeNum != null ">and action_code_num = #{actionCodeNum}</if>
            <if test="callCodeNum != null ">and call_code_num = #{callCodeNum}</if>
            <if test="callActionCodeRecovery != null  and callActionCodeRecovery != ''">and call_action_code_recovery =
                #{callActionCodeRecovery}
            </if>
            <if test="averageCallCode != null  and averageCallCode != ''">and average_call_code = #{averageCallCode}
            </if>
            <if test="averageActionCode != null  and averageActionCode != ''">and average_action_code =
                #{averageActionCode}
            </if>
            <if test="callLen != null  and callLen != ''">and call_len = #{callLen}</if>
            <if test="selfEffectiveCallCodeNum != null ">and self_effective_call_code_num =
                #{selfEffectiveCallCodeNum}
            </if>
            <if test="thirdEffectiveCallCodeNum != null ">and third_effective_call_code_num =
                #{thirdEffectiveCallCodeNum}
            </if>
            <if test="averageEffectiveCallCodeNum != null ">and average_effective_call_code_num =
                #{averageEffectiveCallCodeNum}
            </if>
            <if test="callConnectedRecovery != null  and callConnectedRecovery != ''">and call_connected_recovery =
                #{callConnectedRecovery}
            </if>
            <if test="complaintNum != null ">and complaint_num = #{complaintNum}</if>
            <if test="orgId != null  and orgId != ''">and org_id = #{orgId}</if>
            <if test="userCoverNum != null "> and user_cover_num = #{userCoverNum}</if>
            <if test="callNum != null "> and call_num = #{callNum}</if>
            <if test="connectedCallNum != null "> and connected_call_num = #{connectedCallNum}</if>
        </where>
    </select>

    <select id="selectTLcReportDayProcessById" parameterType="Long" resultMap="TLcReportDayProcessResult">
        <include refid="selectTLcReportDayProcessVo"/>
        where id = #{id}
    </select>

    <insert id="insertTLcReportDayProcess" parameterType="com.ruoyi.report.domain.TLcReportDayProcess"
            useGeneratedKeys="true" keyProperty="id">
        insert into t_lc_report_day_process
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="reportDate != null ">report_date,</if>
            <if test="seatGroup != null  and seatGroup != ''">seat_group,</if>
            <if test="seatNum != null  and seatNum != ''">seat_num,</if>
            <if test="seatName != null  and seatName != ''">seat_name,</if>
            <if test="dealWithConsumerCount != null ">deal_with_consumer_count,</if>
            <if test="actionCodeNum != null ">action_code_num,</if>
            <if test="callCodeNum != null ">call_code_num,</if>
            <if test="callActionCodeRecovery != null  and callActionCodeRecovery != ''">call_action_code_recovery,</if>
            <if test="averageCallCode != null  and averageCallCode != ''">average_call_code,</if>
            <if test="averageActionCode != null  and averageActionCode != ''">average_action_code,</if>
            <if test="callLen != null  and callLen != ''">call_len,</if>
            <if test="selfEffectiveCallCodeNum != null ">self_effective_call_code_num,</if>
            <if test="thirdEffectiveCallCodeNum != null ">third_effective_call_code_num,</if>
            <if test="averageEffectiveCallCodeNum != null ">average_effective_call_code_num,</if>
            <if test="callConnectedRecovery != null  and callConnectedRecovery != ''">call_connected_recovery,</if>
            <if test="complaintNum != null ">complaint_num,</if>
            <if test="orgId != null  and orgId != ''">org_id,</if>
            <if test="orgName != null  and orgName != ''">org_name,</if>
            <if test="userCoverNum != null ">user_cover_num,</if>
            <if test="callNum != null ">call_num,</if>
            <if test="connectedCallNum != null ">connected_call_num,</if>
            <if test="collingCaseMoney != null ">colling_case_money,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="reportDate != null ">#{reportDate},</if>
            <if test="seatGroup != null  and seatGroup != ''">#{seatGroup},</if>
            <if test="seatNum != null  and seatNum != ''">#{seatNum},</if>
            <if test="seatName != null  and seatName != ''">#{seatName},</if>
            <if test="dealWithConsumerCount != null ">#{dealWithConsumerCount},</if>
            <if test="actionCodeNum != null ">#{actionCodeNum},</if>
            <if test="callCodeNum != null ">#{callCodeNum},</if>
            <if test="callActionCodeRecovery != null  and callActionCodeRecovery != ''">#{callActionCodeRecovery},</if>
            <if test="averageCallCode != null  and averageCallCode != ''">#{averageCallCode},</if>
            <if test="averageActionCode != null  and averageActionCode != ''">#{averageActionCode},</if>
            <if test="callLen != null  and callLen != ''">#{callLen},</if>
            <if test="selfEffectiveCallCodeNum != null ">#{selfEffectiveCallCodeNum},</if>
            <if test="thirdEffectiveCallCodeNum != null ">#{thirdEffectiveCallCodeNum},</if>
            <if test="averageEffectiveCallCodeNum != null ">#{averageEffectiveCallCodeNum},</if>
            <if test="callConnectedRecovery != null  and callConnectedRecovery != ''">#{callConnectedRecovery},</if>
            <if test="complaintNum != null ">#{complaintNum},</if>
            <if test="orgId != null  and orgId != ''">#{orgId},</if>
            <if test="orgName != null  and orgName != ''">#{orgName},</if>
            <if test="userCoverNum != null ">#{userCoverNum},</if>
            <if test="callNum != null ">#{callNum},</if>
            <if test="connectedCallNum != null ">#{connectedCallNum},</if>
            <if test="collingCaseMoney != null ">#{collingCaseMoney},</if>
        </trim>
    </insert>

    <update id="updateTLcReportDayProcess" parameterType="com.ruoyi.report.domain.TLcReportDayProcess">
        update t_lc_report_day_process
        <trim prefix="SET" suffixOverrides=",">
            <if test="reportDate != null ">report_date = #{reportDate},</if>
            <if test="seatGroup != null  and seatGroup != ''">seat_group = #{seatGroup},</if>
            <if test="seatNum != null  and seatNum != ''">seat_num = #{seatNum},</if>
            <if test="seatName != null  and seatName != ''">seat_name = #{seatName},</if>
            <if test="dealWithConsumerCount != null ">deal_with_consumer_count = #{dealWithConsumerCount},</if>
            <if test="actionCodeNum != null ">action_code_num = #{actionCodeNum},</if>
            <if test="callCodeNum != null ">call_code_num = #{callCodeNum},</if>
            <if test="callActionCodeRecovery != null  and callActionCodeRecovery != ''">call_action_code_recovery =
                #{callActionCodeRecovery},
            </if>
            <if test="averageCallCode != null  and averageCallCode != ''">average_call_code = #{averageCallCode},</if>
            <if test="averageActionCode != null  and averageActionCode != ''">average_action_code =
                #{averageActionCode},
            </if>
            <if test="callLen != null  and callLen != ''">call_len = #{callLen},</if>
            <if test="selfEffectiveCallCodeNum != null ">self_effective_call_code_num = #{selfEffectiveCallCodeNum},
            </if>
            <if test="thirdEffectiveCallCodeNum != null ">third_effective_call_code_num =
                #{thirdEffectiveCallCodeNum},
            </if>
            <if test="averageEffectiveCallCodeNum != null ">average_effective_call_code_num =
                #{averageEffectiveCallCodeNum},
            </if>
            <if test="callConnectedRecovery != null  and callConnectedRecovery != ''">call_connected_recovery =
                #{callConnectedRecovery},
            </if>
            <if test="complaintNum != null ">complaint_num = #{complaintNum},</if>
            <if test="orgId != null  and orgId != ''">org_id = #{orgId},</if>
            <if test="orgName != null  and orgName != ''">org_name = #{orgName},</if>
            <if test="userCoverNum != null ">user_cover_num = #{userCoverNum},</if>
            <if test="callNum != null ">call_num = #{callNum},</if>
            <if test="connectedCallNum != null ">connected_call_num = #{connectedCallNum},</if>
            <if test="collingCaseMoney != null ">colling_case_money = #{collingCaseMoney},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTLcReportDayProcessById" parameterType="Long">
        delete from t_lc_report_day_process where id = #{id}
    </delete>

    <delete id="deleteTLcReportDayProcessByIds" parameterType="String">
        delete from t_lc_report_day_process where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectDayProcess" parameterType="java.util.Map" resultMap="TLcReportDayProcessResult">
        SELECT
            (SELECT date_sub(curdate(), INTERVAL #{day} DAY)) AS report_date,
            t.user_group AS seat_group,
            t.login_name AS seat_num,
            t.user_name AS seat_name,
            (SELECT count(1) from t_lc_task ta where ta.owner_id = t.user_id and ta.org_id = #{orgId} and ta.task_status = 2 AND ta.allot_type = 1 AND ta.task_type NOT IN (10, 11, 12, 18, 19) GROUP BY ta.owner_id) as deal_with_consumer_count,
            (SELECT SUM(ta.arrears_total) from t_lc_task ta where ta.owner_id = t.user_id and ta.org_id = #{orgId} and ta.task_status = 2 AND ta.allot_type = 1 AND ta.task_type NOT IN (10, 11, 12, 18, 19) GROUP BY ta.owner_id) as colling_case_money ,
            (select count(1) from t_lc_task ta where ta.owner_id = t.user_id and ta.org_id = #{orgId} and ta.recently_follow_up_date BETWEEN #{startDate} and #{endDate} group by ta.owner_id) as user_cover_num,
            (select count(1) from t_lc_call_record re where re.create_by = t.user_id and re.org_id = #{orgId} and re.create_time BETWEEN #{startDate} and #{endDate} and re.type = 1 group by re.create_by) as call_num,
            (select count(1) from t_lc_call_record re where re.create_by = t.user_id and re.org_id = #{orgId} and re.create_time BETWEEN #{startDate} and #{endDate} group by re.create_by) as call_code_num,
            (SELECT count(1) AS third_effective_call_code_num FROM t_lc_call_record re WHERE re.create_by = t.user_id and re.org_id = #{orgId} AND EXISTS (SELECT cc.call_code FROM t_lc_call_code cc where cc.is_valid = 1 AND re.call_sign = cc.call_code) AND re.contact_relation = 1 and re.create_time BETWEEN #{startDate} and #{endDate} GROUP BY re.create_by) as self_effective_call_code_num,
            (SELECT count(1) AS third_effective_call_code_num FROM t_lc_call_record re WHERE re.create_by = t.user_id and re.org_id = #{orgId} AND EXISTS (SELECT cc.call_code FROM t_lc_call_code cc where cc.is_valid = 1 AND re.call_sign = cc.call_code) AND re.contact_relation != 1 and re.create_time BETWEEN #{startDate} and #{endDate} GROUP BY re.create_by) as third_effective_call_code_num,
            (SELECT count(1) AS complaint_num FROM t_lc_call_record re WHERE re.create_by = t.user_id and re.action_code = 'TS-投诉' and re.create_time BETWEEN #{startDate} and #{endDate} AND re.org_id = #{orgId} GROUP BY re.create_by) as complaint_num,
            (SELECT count(1) from t_lc_call_record re where re.create_by = t.user_id and re.org_id = #{orgId} and re.create_time BETWEEN #{startDate} and #{endDate} and re.call_radio_location IS NOT NULL and re.call_radio_location != '' and re.call_len is not null and re.call_len != '' GROUP BY re.create_by) as connected_call_num,
            (SELECT SUM(re.call_len)/ 1000 / 60 from t_lc_call_record re where re.create_by = t.user_id and re.org_id = #{orgId} and re.create_time BETWEEN #{startDate} and #{endDate} and re.call_radio_location IS NOT NULL and re.call_radio_location != '' and re.call_len is not null and re.call_len != '' GROUP BY re.create_by) as call_len
        from
            (select su.user_id,su.user_group,su.login_name,su.user_name from t_lc_call_record re, sys_user su where re.create_by = su.user_id and re.org_id = #{orgId} and re.create_time BETWEEN #{startDate} and #{endDate} <if test="userGroup != null and userGroup != ''"> and su.user_group = #{userGroup} </if> GROUP BY re.create_by) t
    </select>


    <select id="selectDayProcessTask" parameterType="java.util.Map" resultMap="TLcReportDayProcessResult">
        SELECT count(1) as deal_with_consumer_count
          from t_lc_task where   allot_type = 1   AND task_status = 2
        <if test="startDate != null">
            AND recently_follow_up_date <![CDATA[>=]]> date_format(#{startDate},'%Y-%m-%d %H:%i:%s')
        </if>
        <if test="endDate != null">
            AND recently_follow_up_date <![CDATA[<=]]> date_format(#{endDate},'%Y-%m-%d %H:%i:%s')
        </if>
        <if test="createBy != null">
            AND owner_id=#{createBy}
        </if>
    </select>

    <select id="selectTaskReach" parameterType="java.util.Map" resultMap="TLcReportDayProcessResult">
        select sum(arrears_total)amount_due_sum,sum(dqyhje)as amount_actual_sum from t_lc_task
        where owner_id=${userId} and task_status=2
    </select>

    <select id="selectTaskHuankuanZong" parameterType="java.util.Map" resultMap="TLcReportDayProcessResult">
      select sum(b.too) as amount_actual_sum  from (select max(arrears_total) as too,case_no from t_lc_task where owner_id = ${userId} GROUP BY case_no) b
    </select>

    <select id="selectTaskYiHuankuanZong" parameterType="java.util.Map" resultMap="TLcReportDayProcessResult">
      select sum(a.hkje) as amount_due_sum from cur_assets_repayment_package a,sys_user b where
       a.owner_name=b.user_name and b.user_id=${userId}
       and a.hkrq <![CDATA[>=]]> date_format(#{startDate},'%Y-%m-%d %H:%i:%s')
       and a.hkrq <![CDATA[<=]]> date_format(#{endDate},'%Y-%m-%d %H:%i:%s')
    </select>

    <select id="selectTLcReportMonthProcessList" parameterType="com.ruoyi.report.domain.TLcReportDayProcess" resultMap="TLcReportDayProcessResult">
        select t.seat_group,t.seat_num,t.seat_name,sum(t.call_num) as call_num,sum(t.connected_call_num) as connected_call_num,sum(t.call_len) as call_len
        from t_lc_report_day_process t
        where t.org_id = #{orgId}
        <if test="startReportDate != null">
            and t.report_date <![CDATA[>=]]> #{startReportDate}
        </if>
        <if test="endReportDate != null">
            and t.report_date <![CDATA[<=]]> #{endReportDate}
        </if>
        <if test="seatName != null and seatName != ''">
            and t.seat_name = #{seatName}
        </if>
        GROUP BY t.seat_num
    </select>


</mapper>