<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增通话结果记录')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-record-add" th:object="${tLcCallRecord}" enctype="multipart/form-data">
            <div class="form-group">
                <label class="col-sm-3 control-label">客户证件号码：</label>
                <div class="col-sm-8">
                    <input name="certificateNo" id="certificateNo" th:field="*{certificateNo}" class="form-control" type="text" required readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">联系人姓名：</label>
                <div class="col-sm-8">
                    <input name="contactName" id="contactName" th:field="*{contactName}" class="form-control" type="text" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">电话号码：</label>
                <div class="col-sm-8">
                    <input name="phone" id="phone" th:field="*{phone}" class="form-control" type="text" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">和本人关系：</label>
                <div class="col-sm-8">
                    <select name="contactRelation" id="contactRelation" class="form-control m-b" th:with="type=${@dict.getType('sys_custom_contact_rela')}" disabled="true">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{contactRelation}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">通话时长：</label>
                <div class="col-sm-8">
                    <input name="callLen" id="callLen" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">通话结果标记：</label>
                <div class="col-sm-8">
                    <select name="callSign" id="callSign" class="form-control m-b" th:with="type=${@dict.getType('sys_call_sign')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{callSign}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">通话结果：</label>
                <div class="col-sm-8">
                    <input name="callResult" id="callResult" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">通话录音：</label>
                <div class="col-sm-8">
                    <input name="callRadio" id="callRadio" class="form-control" type="file" value="请选择通话录音">
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-sm-offset-5 col-sm-10">
            <button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()"><i class="fa fa-check"></i>保存</button>&nbsp;
            <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>关闭 </button>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "collect/task";
        $("#form-record-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                //$.operate.save(prefix + "/addCallRecord", $('#form-record-add').serialize());
                saveCallRecord();
            }
        }

        function saveCallRecord() {
            var formData = new FormData();
            formData.append('fileName', $("#callRadio").val());
            formData.append('file', $('#callRadio')[0].files[0]);
            formData.append('certificateNo', $("#certificateNo").val());
            formData.append('contactName', $("#contactName").val());
            formData.append('phone', $("#phone").val());
            formData.append('contactRelation', $("#contactRelation").val());
            formData.append('callLen', $("#callLen").val());
            formData.append('callSign', $("#callSign").val());
            formData.append('callResult', $("#callResult").val());
            $.ajax({
                url: prefix + "/addCallRecord",
                type: 'post',
                cache: false,
                data: formData,
                processData: false,
                contentType: false,
                dataType: "json",
                success: function(result) {
                    //alert(JSON.stringify(result));
                    //$.operate.successCallback(result);
                }
            });
        }
    </script>
</body>
</html>