<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('执行窗口')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-package-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label">sql编写：</label>
                <div class="col-sm-8">
                    <textarea  name="sql" class="form-control" style="height: 300px;"></textarea>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script type="text/javascript">
        var prefix = ctx + "assetspackage/dynamicsql";
      /*  $(function () {

        });*/
        $("#form-package-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/apply", $('#form-package-add').serialize());
            }
        }

    </script>
</body>
</html>