<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('模板匹配')" />
    <th:block th:include="include :: select2-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-package-matching" th:object="${templatesPackage}">
            <div class="form-group">
                 <label class="col-sm-3 control-label">表头行：</label>
                 <div class="col-sm-8" style="font-size: 16px;">
                    <input name="表头行" class="form-control" type="text" value="1" required>
                 </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">数据起始行：</label>
                <div class="col-sm-8" style="font-size: 16px;">
                    <input name="数据起始行" class="form-control" type="text" value="2" required>
                </div>
            </div>
            <div class="form-group" id="form-package-matching2">
                <input name="id" th:field="*{id}" type="hidden">
                <input name="url" th:field="*{url}" type="hidden">
                <input name="type" th:field="*{type}" type="hidden" id="type">
                <div class='col-sm-6'>
                    <input name='模板表头' class='form-control' type='text' value="模板表头" disabled style='background-color: #f8ac59;color: #123b5f;font-size: 18px;text-align: center'>
                </div>
                <div class='col-sm-6'>
                    <input name='系统表头' class='form-control' type='text' value="系统表头" disabled style='background-color: #f8ac59;color: #123b5f;font-size: 18px;text-align: center'>
                </div>
            </div>
        </form>
    </div>
<th:block th:include="include :: footer" />
<th:block th:include="include :: select2-js" />
<script th:inline="javascript">
    var prefix = ctx + "assetspackage/template";

    $(function() {
        var paramUrl = $("#url").val();
        var id = $("#id").val();
        var type = $("#type").val();
        $.ajax({
            url: prefix+"/paseHead",
            dataType: "json",
            type: "post",
            data: {
                url: paramUrl,
                templateId:id
            },
            success:function(data){
                var result = JSON.parse(data.msg);
                var templateHead = eval(result.templateHead);
                var systemHead = eval(result.systemHead);
                var relations = eval(result.relations);
                $.each(templateHead,function(index,obj){
                    // if (type == 4) {
                    $("#form-package-matching2").append("<div class='col-sm-6'><input name='"+obj+"'  id='"+obj+"' class='form-control' type='text' value='"+obj+"'/></div>")
                        .append("<div class='col-sm-6'><select name='"+obj+"macth"+"' id='"+obj+"macth"+"' class='form-control' style='background-color: #FFFFFF;'></select></div>");
                    // }
                });

                var selects = $("select");
                selects.select2();
                for(var j=0;j<selects.length;j++) {
                    var obj = selects[j];
                    obj.options.add(new Option("请选择",""));
                    for (var i=0;i<systemHead.length;i++) {
                        obj.options.add(new Option(systemHead[i],systemHead[i]));
                    }
                    obj.options.add(new Option("自由导入","自由导入"));
                }

                for(var cus in relations){
                    // var cus = relations[sys];
                    var cus2 =cus+"macth";
                    for(var j=0;j<selects.length;j++) {
                        var obj = selects[j].name;
                        if(cus=="地区事业部(一级)" || cus=="地区事业部(二级)"){
                            continue;
                        }
                        if(cus2 == obj){
                            $("#"+obj+" option[value='"+relations[cus]+"']").attr("selected",true);
                        }
                    }

                }

            }
        });




    });

</script>
<script type="text/javascript">
    $("#form-package-matching").validate({
        focusCleanup: true
    });

    function submitHandler() {
        /*var jgajhMacth = $("#机构案件号macth").val();
        if (jgajhMacth == "" || jgajhMacth == "请选择" || jgajhMacth == null) {
            $.modal.alertWarning("请选择机构案件号对应的值");
            return;
        }*/

        var selects = $("select");
        if ($.validate.form()) {
            $.operate.save(prefix + "/addRelation2", $('#form-package-matching').serialize());
        }
    }
</script>
</body>
</html>