@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?g1gmb');
  src:  url('fonts/icomoon.eot?g1gmb#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?g1gmb') format('truetype'),
    url('fonts/icomoon.woff?g1gmb') format('woff'),
    url('fonts/icomoon.svg?g1gmb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-reload:before {
  content: "\27f3";
}
