<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增智能分案配置')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal" id="form-config-add">
            <div class="form-group">
                <label class="col-sm-3 control-label"><span style="color: red; ">*</span>所属机构：</label>
                <div class="col-sm-8">
                    <!--<input name="dialcaller" class="form-control" type="text">-->
                    <select class="form-control" name="orgId" id="orgId" required>
                        <option value="">请选择</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <!--<label class="col-sm-3 control-label">自动分案策略：</label>
                <div class="col-sm-8">
                    <input name="allocatCaseStartegy" class="form-control" type="text">
                </div>-->
                <label class="col-sm-3 control-label"><span style="color: red; ">*</span>自动分案策略：</label>
                <div class="col-sm-8">
                    <select class="form-control" name="allocatCaseStartegy" id="allocatCaseStartegy" required>
                        <option value="">请选择</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">规则引擎：</label>
                <div class="col-sm-8">
                    <!--<input name="ruleEngine" class="form-control" type="text">-->
                    <select class="form-control" name="ruleEngine" id="ruleEngine">
                        <option value="">请选择</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label"><span style="color: red; ">*</span>机器人：</label>
                <div class="col-sm-8">
                    <!--<input name="robot" class="form-control" type="text">-->
                    <select class="form-control" name="robot" id="robot" required>
                        <option value="">请选择</option>
                    </select>
                </div>
            </div>
            <!--<div class="form-group">
                <label class="col-sm-3 control-label"><span style="color: red; ">*</span>话务平台：</label>
                <div class="col-sm-8">
                    &lt;!&ndash;<input name="callPlatform" class="form-control" type="text">&ndash;&gt;
                    <select class="form-control" name="callPlatform" id="callPlatform" required>
                        <option value="">请选择</option>
                    </select>
                </div>
            </div>-->
            <div class="form-group">    
                <label class="col-sm-3 control-label">是否自动分案：</label>
                <div class="col-sm-8">
                    <!--<input name="autoAllocatCase" class="form-control" type="text">-->
                    <select class="form-control" name="autoAllocatCase" id="autoAllocatCase">
                        <option value="">请选择</option>
                        <option value="1">是</option>
                        <option value="2">否</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <!--<label class="col-sm-3 control-label">自动分案策略：</label>
                <div class="col-sm-8">
                    <input name="allocatCaseStartegy" class="form-control" type="text">
                </div>-->
                <label class="col-sm-3 control-label">分案规则：</label>
                <div class="col-sm-8">
                    <select class="form-control" name="allocatCaseRule" id="allocatCaseRule">
                        <option value="" selected>请选择</option>
                    </select>
                <div class="col-sm-8">
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "case/config"
        var taskPrefix = ctx + "collect/task";

        $(function () {
            initOrg();
            initRuleEngine();
            initRobot();
            initCallPlatform();
            initAllocatCaseStrategy();
            initAllocatRule();
        })

        $("#form-config-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            /*var orgId = $("#orgId").val();
            if (orgId == null || orgId == '') {
                $.modal.alertWarning("请选择所属机构");
                return;
            }
            var robot = $("#robot").val();
            if (robot == null || robot == '') {
                $.modal.alertWarning("请选择机器人");
                return;
            }
            var callPlatform = $("#callPlatform").val();
            if (callPlatform == null || callPlatform == '') {
                $.modal.alertWarning("请选择话务平台");
                return;
            }
            var allocatCaseStartegy = $("#allocatCaseStartegy").val();
            if (allocatCaseStartegy == null || allocatCaseStartegy == '') {
                $.modal.alertWarning("请选择自动分案策略");
                return;
            }*/
            if (allocatCaseStartegy == 'robot_person') {
                var ruleEngine = $("#ruleEngine").val();
                if (ruleEngine == null || ruleEngine == '') {
                    $.modal.alertWarning("请选择规则引擎");
                    return;
                }
            }
            var autoAllocatCase = $("#autoAllocatCase").val();
            if (autoAllocatCase == 1) {
                var allocatCaseRule = $("#allocatCaseRule").val();
                if (allocatCaseRule == null || allocatCaseRule == '') {
                    $.modal.alertWarning("请选择分案规则");
                    return;
                }
            }
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-config-add').serialize());
            }
        }

        function initOrg() {
            $.post(
                taskPrefix+"/initOrg",
                function(data) {
                    // alert(JSON.stringify(data));
                    if (data.code == 0) {//请求成功
                        for (var i = 0; i < data.rows.length; i++) {
                            var opt = "<option value='"+data.rows[i].deptId+"'>"+data.rows[i].deptName+"</option>";
                            $("#orgId").append(opt);
                        }
                    }
                }
            );
        }

        function initRuleEngine() {
            $.post(
                prefix + "/initRuleEngine",
                function (data) {
                    // alert(JSON.stringify(data));
                    if (data.code == 0) {//请求成功
                        for (var i = 0; i < data.rows.length; i++) {
                            var opt = "<option value='" + data.rows[i].code + "'>" + data.rows[i].message + "</option>";
                            $("#ruleEngine").append(opt);
                        }
                    }
                }
            );
        }

        function initRobot() {
            $.post(
                prefix + "/initRobot",
                function (data) {
                    // alert(JSON.stringify(data));
                    if (data.code == 0) {//请求成功
                        for (var i = 0; i < data.rows.length; i++) {
                            var opt = "<option value='" + data.rows[i].code + "'>" + data.rows[i].message + "</option>";
                            $("#robot").append(opt);
                        }
                    }
                }
            );
        }

        function initCallPlatform() {
            $.post(
                prefix + "/initCallPlatform",
                function (data) {
                    // alert(JSON.stringify(data));
                    if (data.code == 0) {//请求成功
                        for (var i = 0; i < data.rows.length; i++) {
                            var opt = "<option value='" + data.rows[i].code + "'>" + data.rows[i].message + "</option>";
                            $("#callPlatform").append(opt);
                        }
                    }
                }
            );
        }

        function initAllocatCaseStrategy() {
            $.post(
                prefix + "/initAllocatCaseStrategy",
                function (data) {
                    // alert(JSON.stringify(data));
                    if (data.code == 0) {//请求成功
                        for (var i = 0; i < data.rows.length; i++) {
                            var opt = "<option value='" + data.rows[i].code + "'>" + data.rows[i].message + "</option>";
                            $("#allocatCaseStartegy").append(opt);
                        }
                    }
                }
            );
        }

        function initAllocatRule() {
            $.post(
                taskPrefix + "/initAllocatRule",
                function(data) {
                    // alert(JSON.stringify(data));
                    if (data.code == 0) {//请求成功
                        for (var i = 0; i < data.rows.length; i++) {
                            if(i == 0){
                                var opt = "<option value='"+data.rows[i].code+"'>"+data.rows[i].message+"</option>";
                            } else {
                                var opt = "<option value='"+data.rows[i].code+"'>"+data.rows[i].message+"</option>";
                            }
                            $("#allocatCaseRule").append(opt);
                        }
                    }
                }
            );
        }
    </script>
</body>
</html>