<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.batchcall.mapper.TLcBatchCallMapper">
    
    <resultMap type="com.ruoyi.batchcall.domain.TLcBatchCall" id="TLcBatchCallResult">
        <result property="id"    column="id"    />
        <result property="batchNo"    column="batch_no"    />
        <result property="caseNo"    column="case_no"    />
        <result property="phone"    column="phone"    />
        <result property="contactName"    column="contact_name"    />
        <result property="contactRelation"    column="contact_relation"    />
        <result property="exonNum"    column="exon_num"    />
        <result property="orgId"    column="org_id"    />
        <result property="importBatchNo"    column="import_batch_no"    />
        <result property="phoneType"    column="phone_type"    />
        <result property="taskStatus"    column="task_status"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="remark"    column="remark"    />
        <result property="arrearsTotal"    column="arrears_total"    />
        <result property="closeCaseYhje"    column="close_case_yhje"    />
        <result property="dqyhje"    column="dqyhje"    />
    </resultMap>

    <sql id="selectTLcBatchCallVo">
        select id, batch_no, case_no, phone, contact_name, contact_relation, exon_num, org_id, import_batch_no, phone_type, task_status, create_time, create_by,remark from t_lc_batch_call
    </sql>

    <select id="selectTLcBatchCallList" parameterType="TLcBatchCall" resultMap="TLcBatchCallResult">
        select t.id, t.batch_no, t.case_no, t.phone, t.contact_name, t.contact_relation, t.exon_num, t.org_id, t.import_batch_no, t.phone_type, t.task_status, t.create_time, t.create_by, t.remark,
        ta.arrears_total,ta.close_case_yhje,ta.dqyhje
        from t_lc_batch_call t,t_lc_task ta
        <where>
            and t.case_no = ta.case_no and t.import_batch_no = ta.import_batch_no
            <if test="orgId != null and orgId != ''"> and t.org_id = #{orgId}</if>
            <if test="batchNo != null "> and t.batch_no = #{batchNo}</if>
            <if test="caseNo != null  and caseNo != ''"> and t.case_no = #{caseNo}</if>
            <if test="phone != null  and phone != ''"> and t.phone = #{phone}</if>
            <if test="contactName != null  and contactName != ''"> and t.contact_name like concat('%', #{contactName}, '%')</if>
            <if test="contactRelation != null "> and t.contact_relation = #{contactRelation}</if>
            <if test="exonNum != null  and exonNum != ''"> and t.exon_num = #{exonNum}</if>
            <if test="phoneType != null  and phoneType != ''"> and t.phone_type = #{phoneType}</if>
            <if test="taskStatus != null "> and t.task_status = #{taskStatus}</if>
            <if test="createBy != null "> and t.create_by = #{createBy}</if>
            <if test="taskStatusList != null and taskStatusList.size() > 0">
                and t.task_status in
                <foreach collection="taskStatusList" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        order by t.batch_no desc,t.task_status asc, t.case_no desc,t.contact_relation asc,t.phone_type asc,t.create_time desc
        <if test="isOnlyOne != null and isOnlyOne != '' ">
            limit 1
         </if>
    </select>
    
    <select id="selectTLcBatchCallById" parameterType="Long" resultMap="TLcBatchCallResult">
        <include refid="selectTLcBatchCallVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTLcBatchCall" parameterType="TLcBatchCall" useGeneratedKeys="true" keyProperty="id">
        insert into t_lc_batch_call
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="batchNo != null ">batch_no,</if>
            <if test="caseNo != null  and caseNo != ''">case_no,</if>
            <if test="phone != null  and phone != ''">phone,</if>
            <if test="contactName != null  and contactName != ''">contact_name,</if>
            <if test="contactRelation != null ">contact_relation,</if>
            <if test="exonNum != null ">exon_num,</if>
            <if test="orgId != null ">org_id,</if>
            <if test="importBatchNo != null ">import_batch_no,</if>
            <if test="phoneType != null  and phoneType != ''">phone_type,</if>
            <if test="taskStatus != null ">task_status,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="remark != null  and remark != ''">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="batchNo != null ">#{batchNo},</if>
            <if test="caseNo != null  and caseNo != ''">#{caseNo},</if>
            <if test="phone != null  and phone != ''">#{phone},</if>
            <if test="contactName != null  and contactName != ''">#{contactName},</if>
            <if test="contactRelation != null ">#{contactRelation},</if>
            <if test="exonNum != null  and exonNum != ''">#{exonNum},</if>
            <if test="orgId != null  and orgId != ''">#{orgId},</if>
            <if test="importBatchNo != null  and importBatchNo != ''">#{importBatchNo},</if>
            <if test="phoneType != null  and phoneType != ''">#{phoneType},</if>
            <if test="taskStatus != null ">#{taskStatus},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
         </trim>
    </insert>

    <update id="updateTLcBatchCall" parameterType="TLcBatchCall">
        update t_lc_batch_call
        <trim prefix="SET" suffixOverrides=",">
            <if test="batchNo != null ">batch_no = #{batchNo},</if>
            <if test="caseNo != null  and caseNo != ''">case_no = #{caseNo},</if>
            <if test="phone != null  and phone != ''">phone = #{phone},</if>
            <if test="contactName != null  and contactName != ''">contact_name = #{contactName},</if>
            <if test="contactRelation != null ">contact_relation = #{contactRelation},</if>
            <if test="exonNum != null  and exonNum != ''">exon_num = #{exonNum},</if>
            <if test="orgId != null  and orgId != ''">org_id = #{orgId},</if>
            <if test="importBatchNo != null  and importBatchNo != ''">import_batch_no = #{importBatchNo},</if>
            <if test="phoneType != null  and phoneType != ''">phone_type = #{phoneType},</if>
            <if test="taskStatus != null ">task_status = #{taskStatus},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <select id="selectTLcBatchCall" resultType="TLcBatchCall">
        SELECT id
        FROM t_lc_batch_call
        WHERE case_no = #{caseNo} and create_by = #{createBy} and org_id = #{orgId} and  contact_relation!=1 and task_status in(0,1)
    </select>

    <update id="updateTLcBatchCallBatch" parameterType="TLcBatchCall">
        update t_lc_batch_call
        set task_status = #{taskStatus},remark = #{remark}
        where  case_no = #{caseNo} and create_by = #{createBy} and org_id = #{orgId} and  contact_relation!=1 and task_status in(0,1)
    </update>

    <delete id="deleteTLcBatchCallById" parameterType="Long">
        delete from t_lc_batch_call where id = #{id}
    </delete>

    <delete id="deleteTLcBatchCallByIds" parameterType="String">
        delete from t_lc_batch_call where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="updateBatchCallByBatchNo" >
        update t_lc_batch_call
        set task_status = #{targetTaskStatus}
        where create_by = #{createBy}
        <if test="sourceTaskStatus != null ">
            and task_status = #{sourceTaskStatus}
        </if>
    </update>

    <select id="selectMaxBatchNo" resultType="java.util.Map">
        SELECT
            ( CASE WHEN MAX( batch_no ) IS NULL THEN 0 ELSE MAX( batch_no ) END ) batch_no
        FROM
            t_lc_batch_call
        WHERE
            create_by = #{createBy};
    </select>

    <select id="selectBatchCallHisList" parameterType="com.ruoyi.batchcall.domain.TLcBatchCall" resultMap="TLcBatchCallResult">
        select t.id, t.batch_no, t.case_no, t.phone, t.contact_name, t.contact_relation, t.exon_num, t.org_id, t.import_batch_no, t.phone_type, t.task_status, t.create_time, t.create_by, t.remark
        from t_lc_batch_call_his t
        <where>
            <if test="orgId != null and orgId != ''"> and t.org_id = #{orgId}</if>
            <if test="batchNo != null "> and t.batch_no = #{batchNo}</if>
            <if test="caseNo != null  and caseNo != ''"> and t.case_no = #{caseNo}</if>
            <if test="phone != null  and phone != ''"> and t.phone = #{phone}</if>
            <if test="contactName != null  and contactName != ''"> and t.contact_name like concat('%', #{contactName}, '%')</if>
            <if test="contactRelation != null "> and t.contact_relation = #{contactRelation}</if>
            <if test="exonNum != null  and exonNum != ''"> and t.exon_num = #{exonNum}</if>
            <if test="phoneType != null  and phoneType != ''"> and t.phone_type = #{phoneType}</if>
            <if test="taskStatus != null "> and t.task_status = #{taskStatus}</if>
            <if test="createBy != null "> and t.create_by = #{createBy}</if>
            <if test="taskStatusList != null and taskStatusList.size() > 0">
                and t.task_status in
                <foreach collection="taskStatusList" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

</mapper>